CFS - Centre de Formation Sportive a.s.b.l.
Rue provinciale 225 – 1301 Bierges

CFS BRABANT : 010 22 73 96  |  CFS BRUXELLES : 02 420 53 02  |   CFS LIEGE : 085 31 22 46

Fax : 010 24 38 42
E-mail : info@lecfs.be

Compte bancaire Brabant: BE90 0017 5235 6732 - BIC: GEBABEBB
Compte bancaire Bruxelles: BE11 0013 7518 3548 - BIC: GEBABEBB

Heures d'ouverture du secrétariat :
D'octobre à mai : de 9h00 à 12h00 et de 14h00 à 18h00
En juin : de 8h00 à 18h00
En septembre : de 09h00 à 18h00
Pendant les périodes de stage : de 8h00 à 18h00

Attestation fiscale
En cas de perte, il faut nous faire parvenir une demande soit par mail sur notre adresse info@lecfs.be , soit par courrier postal.

S'il s'agit d'un courrier postal votre demande doit-être accompagnée d'une enveloppe pré-timbrée.

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Envoyer</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Contact</h4>
            <div class="contact-info">
              <address>
               <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
               Route provinciale, 225
               <br>
               1301 Bierges
             </address>
             <div class="tel-info">
              <a href="tel:1800452308"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>
              <a href="tel:+61(8)82343555"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+32 10 22 73 96</a>
            </div>
            <a href="mailto:lantoniotrento@gmail.com"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i>info@lecfs.be</a>
            <a href="https://antoniotrento.github.io"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>http://lecfs.be</a>
            {% include social-block.html %}
          </div>
        </div>

      </div>
    </div>