---
layout: index
title: Découvertes sportives et culturelles
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /activites/parascolaire/decouvertes_sportives_et_culturelles/
menu: activites
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="row">
	{% for stage in site.data.parascolaire.activites %}
  {% if stage.online and stage.categorie contains 'decouvertes' %}
<div class="col-md-4 col-xs-6">
    <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}/assets/images/stages{{ stage.img }}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ stage.name }}</h3>
        <div class="meta">
          <span class="badge btn-success-filled" style="float: right;">NOUVEAU</span>
          {{stage.age}}<br/>
          INFOS.
        </div>
        <div class="description">
          -- Voir la description --<br/>
          {{ stage.description }}<br/>
          <a class="btn btn-success-filled btn-block" href="{% if stage.inscription %}{{ stage.inscription }}{% else %}https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Province=&Categorie=6&LG=FR{% endif %}" target="_blank"><i class="fa fa-edit"></i> Inscription</a>
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-user"> {{ stage.lieu }}</i>
        </span>
      </div>
    </div>
</div>
  {% endif %}
	{% endfor %}
</div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
