---
layout: index
title: Bébés nageurs
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /activites/ecole_de_natation/bebes_nageurs/
menu: activites
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<p style="text-align:right"><span style="font-size:20px"><a class="btn btn-primary" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=5&amp;Province=Brabant&amp;Groupe=&amp;LG=FR&amp;_ga=2.23788346.1617301722.1573556259-301441336.1491468298" target="popup">J&#39;inscris mon petit nageur</a></span></p>

<p><span style="font-size:20px">B&eacute;b&eacute;s nageurs</span>&nbsp;<span style="font-size:16px">(0 &agrave; 4 ans)</span></p>

<p>Les cours de b&eacute;b&eacute;s nageurs ont pour objectif principal d&#39;initier votre b&eacute;b&eacute; aux plaisirs de l&#39;eau&nbsp;dans un cadre id&eacute;al et s&eacute;curisant &agrave; la Piscine du CFS chauff&eacute;e &agrave; 31&deg;C!</p>

<p>Nos exercices principaux visent &agrave; favoriser l&#39;accoutumance, l&#39;&eacute;veil sensoriel, la motricit&eacute;, la confiance ou encore l&#39;autonomie.</p>

<p>Nos formateurs sp&eacute;cialis&eacute;s enseignent toutes sortes de jeux ludiques et veillent au d&eacute;veloppement psychomoteur des b&eacute;b&eacute;s.</p>

<p>Les parents doivent accompagner leur b&eacute;b&eacute; dans l&#39;eau durant toute la s&eacute;ance. S&eacute;ance de 30 minutes par petits groupes de 4 enfants maximum.</p>

<p><br />
<img alt="enlightened" src="https://www12.iclub.be/ck/ckeditor/plugins/smiley/images/lightbulb.png" title="enlightened" />&nbsp;<em>Horaires disponibles</em> : le choix de l&#39;horaire<em> se fait au moment de l&#39;inscription. Pour visualiser les horaires disponibles, vous pouvez commencer une inscription sans la finaliser.&nbsp;</em></p>

<p><br />
📍 <strong>Brabant Wallon</strong> &bull; Bierges - Le Provincial</p>

<p style="text-align:center">&nbsp;</p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
