---
layout: index
title: Stages Enfants
img : 
img-mobile : 
group : navigation
css: 
banner: large-slider1.jpg
---
{% include JB/setup %}

<!-- Content Area Start -->
<div id="content">

<div class="row">
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
	{% include carte-stages.html nom="Psycho" description="Une belle description" lieu="Liège" places="5" %}
</div>

</div>
<!-- Content Area End -->