---
layout: index
title: BIENVENUE AU CFS
index: index 
css: 
js: sliders.js
img : 
img-mobile : 
keywords: CFS
---

  {% include accueil/slider.html %}

  <div class="mb-60"></div>

  <div class="slogan-corona">
  <b>INFORMATION DERNIERE MINUTE – CORONAVIRUS</b><br/><br/>
  
  	Malheureusement, suite aux décisions prises par le gouvernement, nous sommes désolés de vous annoncer que toutes nos activités sont suspendues à partir de ce samedi 14/03 et ce jusqu’au vendredi 03/04 inclus.<br/>

  	Nous vous tenons bien évidemment informé pour la suite dans les plus brefs délais.<br/>

	Concernant nos stages durant les vacances de Pâques, nous suivons de près l’évolution de la situation.  Nous vous invitons à maintenir vos inscriptions pour éviter un pic d’inscription de dernière minute le cas échéant.<br/>

	Nous vous remercions pour votre compréhension et vous souhaitons beaucoup d’entraide et une bonne santé !
  </div>

  {% include accueil/selection.html %}

  <div class="desktop mb-60"></div>

  <div class="slogan">Le CFS, à votre service depuis 1981.</div>

  <div class="desktop mb-60"></div>

  {% include accueil/une.html %}

  <div class="desktop">
    <a href="/anniversaires"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/anniversaire.png" alt="Je réserve mon anniversaire"></a>
  </div>

  <div class="mobile">
    <a href="/anniversaires"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/anniversaire.png" alt="Je réserve mon anniversaire"></a>
  </div>

  {% include accueil/activites.html %}

  {% include accueil/partenaires.html %}