---
layout: index
title: BIENVENUE AU CFS
index: index 
css: 
js: sliders.js

---
{% include JB/setup %}
<!-- Content Area Start -->

<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <a href="#"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/bonneannee2020bis.png" alt=""></a>
                  </div>
                  <div class="carousel-item">
                    <a href="#"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/carnavalpaques.png" alt=""></a>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Suivant</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
      
      <!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="sub-title">
                <span>Sélection du CFS</span>
              </div>
              <div class="row">

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656125320667201546/accueilstagecarnaval.png" title="Stages Carnaval" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656122120396603415/accueilatelierrobotique.png" title="Atelier robotique" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656167963937865748/ecolenatation.png" title="École de natation" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656122121281339412/accueiltournoiminifoot.png" title="Tournoi de mini-foot" href="#" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

            
      <!-- Stages à la Une 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="sub-title">
                <span>Stages à la Une</span>
              </div>
              <div class="row">

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656122124028608512/accueilfootballeuro.png" title="Football EURO 2020" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656122127342370837/accueilstagedebrouillar.png" title="Stage débrouillard" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656122124880052224/accueilkohlanta.png" title="Stage Koh Lanta" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656149506093744138/accueilfunpaintballetvtt.png" title="Fun, Paintball & VTT" href="#" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

      <div class="mb-60"></div>
	
      <!-- Team Members 04 -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="sub-title">
                <span>Nos activités</span>
              </div>
              <div class="row">

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://cdn.discordapp.com/attachments/656057943346642945/656134488891326476/stagesenfants.png" title="Stages enfants" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://cdn.discordapp.com/attachments/656057943346642945/656134877233807390/activitextra.png" title="Activités extrascolaires" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://cdn.discordapp.com/attachments/656057943346642945/656133929790734337/coursadultes.png" title="Cours adultes" href="#" %}
                </div>

                <div class="col-xs-6 col-md-3">
                  {% include coleen/bulle.html src="https://cdn.discordapp.com/attachments/656057943346642945/656133595722940429/evenements.png" title="Évènements" href="#" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

            
            
<!-- Content area end -->
</div>
