<div id="sliders">
  <div class="full-width">
    <div id="light-slider" class="carousel slide">
      <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            {% comment %}
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            {% endcomment %}
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Groupe=1" target="_blank"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/stagesete.jpg" alt="stages d'été pour les enfants"></a>
            </div>
            {% comment %}
            <div class="carousel-item">
              <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Groupe=1" target="_blank"><img src="{{ BASE_PATH }}/assets/images/slider/accueil/stagesete.jpg" alt="stages d'été pour les enfants"></a>
            </div>
            {% endcomment %}
          </div>
          <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
            <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
            <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>