
<p>&nbsp;</p>

<h2><strong>Viens f&ecirc;ter ton anniversaire pour vivre un moment inoubliable avec tes amis et les moniteurs du CFS !&nbsp;</strong></h2>

<p>Nous vous accueillons &agrave;<strong> Bierges,</strong> <strong>Ottignies</strong>, <strong>Wavre</strong>, <strong>Auderghem</strong> &amp; <strong>Woluw&eacute;-Saint-Pierre</strong>.<strong>&nbsp;</strong></p>

<p>Nous organisons des anniversaires &agrave; domicile pour le Laser Game, la chasse au tr&eacute;sor et pour le&nbsp;spectacle de magie !&nbsp;</p>

<p><u><strong>Le forfait comprend:&nbsp;</strong></u></p>

<ul>
	<li>2h00 d&#39;animation encadr&eacute;es par un moniteur du CFS</li>
	<li>1 t-shirt CFS en cadeau pour l&#39;enfant</li>
	<li>Le forfait est &eacute;abli pour 12 enfants. 10&euro; /enfant suppl&eacute;mentaire (sauf Laser Game 25&euro;).&nbsp;</li>
</ul>

<p>L&#39;envoi des invitations, le g&acirc;teau (sauf pour Diner Parfait), les boissons (sauf &agrave; Woluw&eacute;-Saint-Pierre), le mat&eacute;riel pour le go&ucirc;ter et une &eacute;ventuelle d&eacute;coration sont &agrave; charge des parents.&nbsp;</p>

<p><span style="font-size:18px"><strong>Horaire</strong></span></p>

<p>📍&nbsp;<strong>Bierges - Ottignies - Wavre</strong></p>

<p>Tous les samedis de 13h00 &agrave; 15h00 ou de 15h30 &agrave; 17h30</p>

<p>📍&nbsp;<strong>Auderghem</strong></p>

<p>Tous les samedis et dimanches de 13h00 &agrave; 15h00 ou de 15h30 &agrave; 17h30.&nbsp;</p>

<p>📍&nbsp;<strong>Woluw&eacute;-Saint-Pierre</strong></p>

<p>Uniquement les mercredis de 14h00 &agrave; 16h00</p>

<p><strong>R&eacute;servation souhait&eacute;e 2 semaines &agrave; l&#39;avance</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>