<div class="row">
	<div class="col-md-4 offset-md-4">
		<a href="/anniversaires/reservation/" class="btn btn-block btn-info-filled" style="margin-top: 15px;">RÉSERVATION</a>
	</div>
</div>

<!-- Boutons de présentation -->
<div class="row">
	<div class="col-md-4">
		<a href="{{ page.url }}domicile" class="btn btn-block btn-success-filled" style="margin-top: 15px;">À MON DOMICILE</a>
	</div>
	<div class="col-md-4">
		<a href="{{ page.url }}lieu_sportif_et_fun" class="btn btn-block btn-danger-filled" style="margin-top: 15px;">SPORTIF ET FUN</a>
	</div>
	<div class="col-md-4">
		<a href="{{ page.url }}piscine" class="btn btn-block btn-info-filled" style="margin-top: 15px;">À LA PISCINE</a>
	</div>
</div>
<br><br>
<center>2H00 D'ANIMATION ENCADREES PAR UN MONITEUR DU CFS<br><b>LES NOUVEAUTES A PARTIR D'AVRIL</b></center>
<br/>
<br/>
<div class="row">
{% for anniversaire in site.data.anniversaires.anniversaires %}
	{% if anniversaire.anniversaire_une %}

		{% include coleen/cartes_anniversaires.html %}

	{% endif %}
{% endfor %}
</div>

<!-- Boutons de fin -->
<div class="row">
	<div class="col-md-6">
		<a href="#" class="btn btn-block btn-info-filled" style="margin-top: 15px;">RÉSERVATION</a>
	</div>
	<div class="col-md-6">
		<a href="{{ page.url }}en_savoir_plus" class="btn btn-block btn-info-filled" style="margin-top: 15px;">EN SAVOIR PLUS</a>
	</div>
</div>
<!-- Fin des boutons de fin -->

<div class="row" style="margin-top: 45px;">
	<div class="col-md-4 offset-md-4">
		<img src="https://www12.iclub.be/images/upload/559/ballons_annif.jpg" style="width: 100%; height: auto;">
	</div>
</div>