
DANS UN LIEU SPORTIF ET FUN

 

Anniversaires pour les petits bouts

Psycho-boom

📍 Bierges

Pour ton anniversaire, nous avons préparé un mix de différentes activités de psychomotricité :

Jeux de coopération
Parcours d’adresse
Parcours d’audace
Exercices de latéralité
Eveil artistique
Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Psycho découverte

📍 Auderghem / Woluwé-Saint-Pierre

Pour ton anniversaire, nous avons préparé un mix de différentes activités de psychomotricité :

Jeux de coopération
Parcours d’adresse
Parcours d’audace
Exercices de latéralité
Eveil artistique
Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Anniversaires Fun

Arrow Game

📍 Wavre / Rixensart / Ottignies / Auderghem

Contactez-nous pour en savoir plus.

 

Aventure trophy – 8 à 14 ans

📍 Nil-Saint-Vincent à la « Carrière des trois fontaines »

Durée de l’activité : 2h30

Challenge par équipe : Chaque équipe doit s’orienter, trouver des énigmes et des postes dans lesquels des épreuves seront proposées.

Info supp. : 25€/enfant supplémentaire

 

Bubble Soccer

📍 Wavre / Rixensart / Ottignies

Contactez-nous pour en savoir plus.

 

Quad – 6 à 12 ans

📍 Wavre

Quad, trottinette électrique, overboard, cuistax, motos électriques.

En cas de mauvais temps, l’activité ne pourra être maintenue.

Info supp. : 25€/enfant supplémentaire

 

Laser Game – A partir de 7 ans 

📍 Wavre

Une activité fun outdoor dans les bois à effectuer entres amis !

Une activité à la fois sportive, ludique, stratégique et divertissante dans lequel plusieurs joueurs ou unités s’affrontent.

Nous organisons l’anniversaire en plusieurs étapes :

 

Découverte et fonctionnement des lasers
Consignes de sécurité
Création des équipes
Déroulement de l’activité (jeux variés)
 

Tout au long de l’anniversaire, nous mettons en place des jeux variés et ludiques.  

Info supp. : 25€/enfant supplémentaire

 

Nautifun – A partir de 10 ans

📍 Les Lacs de l’Eau d’Heure

Durée de l’activité : 4h00

Initiation au ski nautique, au Wakeboard ou à la bouée tractée.

Info supp. : Transport non compris, possible sur demande. Les combinaisons sont fournies.

 

Anniversaires Sportifs

Danse

📍 Bierges / Wavre / Rixensart / Ottignies / Auderghem / Woluwé-Saint-Pierre

Viens te déhancher sur le rythme de la musique !

Nous allons apprendre les bases de la danse (musique tempos, mouvements et danse en groupe).

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Football

📍 Wavre / Rixensart / Ottignies

Une activité sportive qui prévoit une alternance entre entraînements et petits matchs.

Ton anniversaire sera abordé de manière ludique afin d’allier football et plaisir (techniques de ballon et jeux).

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Multisports

📍 Ottignies / Auderghem

Divers jeux collectifs aux choix seront organisés lors de ton anniversaire.

Activités : Kin-ball, base-ball, volley, basket, badminton, ping-pong, flagfootball, frisbee golf, etc.

Le respect des règles et l’esprit d’équipe seront également mis en place.

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Parcours d’obstacles gonflable

📍 Wavre / Rixensart / Ottignies

Contactez-nous pour en savoir plus.

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Swiss Jump

📍 Bierges

Lors de ton anniversaire, tu découvres avec tes amis le Swiss Jump (mini trampoline individuel).

Au programme : jeux, chorégraphies et défis.

Tout cela en musique !

Info supp. : maximum 11 enfants

 

Anniversaires Artistiques

Diner Parfait

📍 Bierges / Auderghem

Tu veux devenir un grand chef-cuistot ? Invite tes amis et appelle-nous vite !

Lors de ton anniversaire, nous allons préparer ton propre gâteau avec l’aide de tes amis.

A la fin de l’activité, tes amis et toi allez dégusté le gâteau.

Info supp. : Un allergie, une préférence pour le goût ? Contacte-nous !

 

Chasse au trésor

📍 Bierges / Wavre / Ottignies / Rixensart / Auderghem / Woluwé-Saint-Pierre

L’anniversaire « chasse au trésor » est un mélange de défis sportifs et intellectuels.

Deux équipes se font face et après chaque épreuve, ils reçoivent une pièce de la carte au trésor.

Ils reçoivent comme récompense des bonbons cachés dans une boîte à trésor.

Info supp. : uniquement à partir de 13h00 – sur Ottignies à 14h00.

 

Cirque

📍 Bierges / Auderghem

Nous te proposons une approche de diverses disciplines issues du monde du cirque : équilibre (câbles – échasses – monocycle), acrobatie (pyramides – trampoline-trapèze), jonglerie (foulards – balles – quilles), adresse (diabolos – bâtons du diable).

Une petite présentation à la fin des 2 heures est possible.

Info supp. : uniquement à partir de 15h30.

 

Magie

📍 Bierges / Wavre / Rixensart / Ottignies

Grâce à un magicien ayant plein de tours dans son sac, les enfants découvrent le monde de l’illusion et de la manipulation.

Les enfants apprendront certains tours. Un petit spectacle d’une heure est prévu dans l’organisation de l’anniversaire.

Info supp. : Vous pouvez nous contacter en cas de demande particulière.

 

Princesse & Pirate - Moins de 7 ans

📍 Bierges / Wavre / Rixensart / Ottignies

Petite recommandation sur Bierges.

Nous t’organisons une chasse au trésor sur le thème des princesses et pirates.

Nous mettons également en place la fabrication de petits bricolages.

Info supp. : uniquement à partir de 15h30

 

Théâtre

📍 Wavre / Rixensart / Ottignies / Auderghem

Contactez-nous pour en savoir plus.

 

Time’s up

📍 Auderghem / Woluwé-Saint-Pierre

Contactez-nous pour en savoir plus.

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>