<div class="row">
{% for anniversaire in site.data.anniversaires.anniversaires %}
	{% if anniversaire.online and anniversaire.categorie contains 'piscine' %}

		{% include coleen/cartes_anniversaires.html %}

	{% endif %}
{% endfor %}
</div>


A LA PISCINE

Anniversaire Fun

📍 Bierges – Woluwé-Saint-Pierre

Piscine Party

Nous organisons des jeux, des défis et des jeux libres dans la piscine.

Info supp. : Les enfants doivent être à l’aise dans l’eau, ils doivent pouvoir mettre leur tête dans l’eau.