<p>Afin de vous faire une offre plus personnalisée pour votre anniversaire, nous vous invitons à nous contacter par téléphone ou par mail.</p>
<hr>
<div class="row">
	<div class="col-md-5"><i class="fa fa-phone icons cyan-color contact-info-icon"></i> Bruxelles</div>
	<div class="col-md-7">+32 24205302</div>
	<div class="col-md-5"><i class="fa fa-phone icons cyan-color contact-info-icon"></i> Brabant</div>
	<div class="col-md-7">+32 10227396</div>
	<div class="col-md-12"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i> info@lecfs.be</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScCQqVM6G_IUKxCGrZpkkFXtb1YYA8mr31uobTkFEC7-tT_kw/formResponse">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-user"></i>
            <input type="text" class="form-control" id="name" placeholder="Nom complet" name="entry.1223779489" required data-error="Merci d'écrire votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-envelope-o"></i>
            <input type="email" class="form-control" id="email" placeholder="Email" name="entry.2039077707">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-user"></i>
            <input type="text" class="form-control" id="enfant" placeholder="Nom et prénom de l'enfant" name="entry.136556124" required data-error="Merci d'écrire votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-user"></i>
            <input type="text" class="form-control" id="age" placeholder="Âge qu'aura votre enfant" name="entry.1312130377" required data-error="Merci d'écrire votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-user"></i><i class="contact-icon fa fa-user"></i><i class="contact-icon fa fa-user"></i><i class="contact-icon fa fa-user"></i>
            <input type="text" class="form-control" id="age" placeholder="Nombre d'enfants" name="entry.1534908518" required data-error="Merci d'écrire votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-phone"></i>
            <input type="text" class="form-control" id="theme" placeholder="Téléphone de contact" name="entry.1328563237">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <textarea id="message" rows="8" placeholder="Informations supplémentaires" name="entry.238382308" style="width: 100%;"></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Réserver mon anniversaire</button>
          <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </div>
      </div>

    </form>
  </div>
	
</div>