<p>Afin de vous faire une offre plus personnalisée pour votre anniversaire, nous vous invitons à nous contacter par téléphone ou par mail.</p>
<hr>
<div class="row">
	<div class="col-md-5 col-xs-5"><i class="fa fa-phone icons cyan-color contact-info-icon"></i> Bruxelles</div>
	<div class="col-md-7 col-xs-7">+32 24205302</div>
	<div class="col-md-5 col-xs-5"><i class="fa fa-phone icons cyan-color contact-info-icon"></i> Brabant</div>
	<div class="col-md-7 col-xs-7">+32 10227396</div>
	<div class="col-md-12"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i> info@lecfs.be</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <script src='https://forms.pabbly.com/embed/gb8W-428214?w=350'></script>
  </div>
	
</div>