<p>Créée en 1981 par des licenciés en éducation physique, l'association <strong>CFS – Centre de Formation Sportive a.s.b.l.</strong> propose des stages sportifs et culturels pour les enfants et les jeunes de 0 à 16 ans.</p>

<p>Fort de son expérience, le CFS a développé une large palette de stages qu'il organise durant l'année scolaire et les vacances. Il existe aujourd'hui <strong>plus de 50 activités différentes</strong> qui sont pensées pour les enfants en fonction de leur âge et des tendances actuelles. Ces activités se déroulent dans une trentaine de centres sportifs en <a href="/cfs/les_centres_cfs/">Brabant Wallon</a>, <a href="/cfs/les_centres_cfs/">Région Bruxelloise</a> et <a href="/cfs/les_centres_cfs/">Province de Liège</a>.</p>

<p>Le CFS dispose également de <strong><a href="/activites/ecole_de_natation/" target="_blank">trois écoles de natation</a></strong> (Ottignies, Bierges et Jette), une école de football ainsi qu'une de tennis. </p>

<p>Nous proposons, depuis septembre 2015, <strong><a href="/cours_adultes/">des cours collectifs pour adultes, </a></strong> au "Provincial" de Bierges.</p>

<p>Le CFS organise également des <strong><a href="/events/journees_sportives/">journées sportives</a></strong> pour les écoles et les communes et <strong><a href="/events/">divers événements sportifs</a></strong> tels que des journées pédagogiques, des anniversaires, etc.</p>

<h2><span style="color:#2980b9"><img alt="" src="https://www12.iclub.be/images/upload/559/valeur.PNG" style="height:53px; width:80px" />  VALEURS</span></h2>

<p>Le sport et la culture aisément accessibles pour tous. </p>

<h2><span style="color:#2980b9"><img alt="" src="https://www12.iclub.be/images/upload/559/mission.PNG" style="height:63px; width:68px" />   MISSION / VISION  </span></h2>

<ul>
	<li>Développer des stages sportifs et des activités culturelles pour les jeunes.</li>
	<li>Stimuler l'envie de bouger.</li>
	<li>Promouvoir le sport auprès de la population. </li>
	<li>Proposer <a href="/cfs/les_centres_cfs/">une approche de proximité</a>.</li>
	<li>Innover </li>
</ul>

<p>Cela fait maintenant plus de 30 ans que le CFS fait bouger vos enfants.</p>

<p>Cette expérience nous permet de proposer des stages pensés pour les enfants en fonction de leur âge. Ses activités sont regroupées dans 6 domaines : </p>

<p><img class="img-responsive" src="http://www.lecfs.be/fileadmin/_processed_/csm_graph_age_edd607ecb4.png" /></p>

<p>Chaque enfant grandit à son propre rythme. Tous les enfants de 4 ans, par exemple, n'ont pas la même « maturité » physique et physiologique. C'est pourquoi nous autorisons une marge de 2 mois pour les activités "Les Petits Bouts" et "Découvertes sportives et artistiques" et une marge de 6 mois pour les autres activités.</p>

<p>Un enfant de 3 ans et 10 mois pourrait donc (si ses parents pensent qu'il est suffisamment mature) participer à un stage de Baby Danse (4 à 5 ans).</p>

<p><span style="color:#2980b9"><strong>L'enfant et son bien-être restent au centre de nos préoccupations. </strong></span></p>