<p>Cr&eacute;&eacute; en 1982 par des licenci&eacute;s en &eacute;ducation physique, l&rsquo;association <strong>CFS &ndash; Centre de Formation Sportive a.s.b.l.</strong> propose des stages sportifs et culturels pour les enfants et les jeunes de 2,5 ans &agrave; 16 ans.</p>

<p>Fort de son exp&eacute;rience, le CFS a d&eacute;velopp&eacute; une large palette de stages qu&#39;il organise durant l&#39;ann&eacute;e scolaire et les vacances. Il existe aujourd&#39;hui <strong>plus de 50 activit&eacute;s diff&eacute;rentes</strong> qui sont pens&eacute;es pour les enfants en fonction de leur &acirc;ge et des tendances actuelles. Ces activit&eacute;s se d&eacute;roulent dans une trentaine de centres sportifs en&nbsp;<a href="http://www.lecfs.be/le-cfs/lieux/">Brabant&nbsp;Wallon</a>,&nbsp;<a href="http://www.lecfs.be/le-cfs/lieux/">R&eacute;gion Bruxelloise</a>&nbsp;et&nbsp;<a href="http://www.stagescfs.be/" target="_blank" title="http://www.stagescfs.be/">Province de Li&egrave;ge</a>.</p>

<p>Le CFS dispose &eacute;galement de <strong><a href="http://www.lecfs.be/stages-activites/ecole-de-natation/" target="_blank" title="Opens external link in new window">trois &eacute;coles de natation</a></strong> (Ottignies, Bierges et Jette) ainsi que d&rsquo;une &eacute;cole de football et de tennis.&nbsp;</p>

<p>Nous proposons&nbsp;depuis septembre 2015, <strong><a href="http://www.lecfs.be/stages-activites/cours-pour-adultes/" target="_blank" title="Opens external link in new window">des cours collectifs pour adultes</a></strong> au &quot;Provincial&quot; de Bierges.</p>

<p>Le CFS organise &eacute;galement des <strong><a href="http://www.lecfs.be/stages-activites/journees-sportives/" target="_blank" title="Opens internal link in current window">journ&eacute;es sportives</a></strong> pour les &eacute;coles et les communes et <strong><a href="http://www.lecfs.be/stages-activites/event/" target="_blank" title="Opens internal link in current window">divers &eacute;v&eacute;nements sportifs</a></strong> tels que des s&eacute;jours au ski, des anniversaires, etc.</p>

<h2><span style="color:#2980b9"><img alt="" src="https://www12.iclub.be/images/upload/559/valeur.PNG" style="height:53px; width:80px" />&nbsp; VALEURS</span></h2>

<p>Le sport et la culture ais&eacute;ment accessible pour tous.&nbsp;</p>

<h2><span style="color:#2980b9"><img alt="" src="https://www12.iclub.be/images/upload/559/mission.PNG" style="height:63px; width:68px" />&nbsp; &nbsp;MISSION / VISION&nbsp;&nbsp;</span></h2>

<ul>
	<li>D&eacute;velopper des stages sportifs et des activit&eacute;s culturelles pour les jeunes.</li>
	<li>Stimuler l&rsquo;envie de bouger.</li>
	<li>Promouvoir le sport aupr&egrave;s de la population.&nbsp;</li>
	<li>Proposer&nbsp;<a href="http://www.lecfs.be/le-cfs/lieux/">une approche de proximit&eacute;</a>.</li>
	<li>Innover&nbsp;</li>
</ul>

<p>Cela fait maintenant plus de 30 ans que le CFS fait bouger vos enfants.</p>

<p>Cette exp&eacute;rience nous permet de proposer des stages pens&eacute;s pour les enfants en fonction de leur &acirc;ge. Ses activit&eacute;s sont regroup&eacute;es dans 6 domaines :&nbsp;</p>

<p><img class="img-responsive" src="http://www.lecfs.be/fileadmin/_processed_/csm_graph_age_edd607ecb4.png" /></p>

<p>Chaque enfant grandit &agrave; son propre rythme. Tous les enfants de 4 ans, par exemple, n&rsquo;ont pas la m&ecirc;me &laquo; maturit&eacute; &raquo; physique et physiologique. C&rsquo;est pourquoi nous autorisons une marge de 2 mois pour les activit&eacute;s &quot;Les Petits Bouts&quot; et &quot;D&eacute;couvertes sportives et artistiques&quot; et une marge de 6 mois pour les autres activit&eacute;s.</p>

<p>Un enfant de 3 ans et 10 mois pourrait donc (si ses parents pensent qu&rsquo;il est suffisent mature) participer &agrave; un stage de Baby Danse (4 &agrave; 5 ans).</p>

<p><span style="color:#2980b9"><strong>L&#39;enfant et son bien-&ecirc;tre restent au centre de nos pr&eacute;occupations.&nbsp;</strong></span></p>