<p><span style="font-size:20px"><span style="color:#2980b9">&nbsp; &nbsp; &nbsp;Vous trouverez certainement un centre <strong>CFS</strong> proche de chez vous.</span></span></p>

<p><span style="font-size:24px">&nbsp;<img alt="" src="https://www12.iclub.be/images/upload/559/bxlbanniAre.JPG" style="height:249px; width:650px" /></span></p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp;&nbsp;<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Province=&amp;Categorie=6&amp;LG=FR&amp;_ga=2.12770303.933350017.1571642297-301441336.1491468298"><img alt="" src="https://www12.iclub.be/images/upload/559/bxl_annAe.JPG" style="height:288px; width:600px" /></a><a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=4&amp;Province=?&amp;Groupe=?&amp;LG=FR&amp;_ga=2.119223105.933350017.1571642297-301441336.1491468298">&nbsp;</a></p>

<p>&nbsp; &nbsp;&nbsp;&nbsp;<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=4&amp;Province=?&amp;Groupe=?&amp;LG=FR&amp;_ga=2.119223105.933350017.1571642297-301441336.1491468298">&nbsp;<img alt="" src="https://www12.iclub.be/images/upload/559/bxl_stages_graphique_texte.JPG" style="height:295px; width:600px" /></a></p>

<p>&nbsp;</p>

<p><img alt="" src="https://www12.iclub.be/images/upload/559/brtbanniAre.JPG" style="height:260px; width:650px" /></p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp;&nbsp;<a href="http://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Province=&amp;Categorie=6&amp;LG=FR&amp;_ga=2.12770303.933350017.1571642297-301441336.1491468298"><img alt="" src="https://www12.iclub.be/images/upload/559/brt_annAe_graphique.JPG" style="height:288px; width:600px" /></a></p>

<p>&nbsp; &nbsp; &nbsp;&nbsp;<a href="http://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=4&amp;Province=?&amp;Groupe=?&amp;LG=FR&amp;_ga=2.119223105.933350017.1571642297-301441336.1491468298"><img alt="" src="https://www12.iclub.be/images/upload/559/brt_stages_graphique.JPG" style="height:295px; width:600px" /></a></p>

<p>&nbsp;</p>

<p><img alt="" src="https://www12.iclub.be/images/upload/559/liAgebanniAre.JPG" style="height:237px; width:600px" /></p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="http://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=4&amp;Province=?&amp;Groupe=?&amp;LG=FR&amp;_ga=2.119223105.933350017.1571642297-301441336.1491468298"><img alt="" src="https://www12.iclub.be/images/upload/559/liege_stages_graphique.JPG" style="height:290px; width:550px" /></a></p>