<h3 style="margin: auto 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es pour les activit&eacute;s parascolaires.</em></h3>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;"></strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">1. R&eacute;ductions Parascolaires</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Pour les activit&eacute;s parascolaires, vous pouvez cumuler les activit&eacute;s des enfants qui habitent sous le m&ecirc;me toit et b&eacute;n&eacute;ficier d'une r&eacute;duction de 10&euro;/activit&eacute;, &agrave; partir de la 2i&egrave;me activit&eacute;.</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</p>
<h3 style="margin: auto 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es pour les stages de vacances.</em></h3>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;<strong style="color: #1667a8;">2.&nbsp;R&eacute;ductions &laquo; stages nombreux &raquo;</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Les r&eacute;ductions sont accord&eacute;es aux enfants habitant sous le m&ecirc;me toit.</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">&nbsp;2</strong><strong style="color: #1667a8;">.1 Il y a trois p&eacute;riodes de r&eacute;duction :</strong></p>
<ol style="color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">
<li>Toussaint et No&euml;l</li>
<li>Carnaval et P&acirc;ques</li>
<li>Et&eacute;</li>
</ol>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><em>Attention, les diff&eacute;rentes p&eacute;riodes ne sont pas cumulables.</em></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;<strong style="color: #1667a8;">2.2&nbsp;Une fois la p&eacute;riode s&eacute;lectionn&eacute;e,<br />additionnez le nombre de stages auquel vos enfants participent pendant cette p&eacute;riode :<br /><br /></strong></p>
<table class="contenttable" style="border-collapse: collapse; margin-top: 5px; margin-left: 5px; width: 615px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<th style="text-align: left; border-bottom: 1px solid #c5deef; font-size: 12px; color: #2486c3; padding: 2px 0px 5px;">Nombre de stages</th><th style="text-align: left; border-bottom: 1px solid #c5deef; font-size: 12px; color: #2486c3; padding: 2px 0px 5px;">Montant de la r&eacute;duction</th>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">3 stages</td>
<td style="padding: 2px 0px 2px 5px;">15 &euro; sur le 3&egrave;me stage</td>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">4 stages</td>
<td style="padding: 2px 0px 2px 5px;">20 &euro; sur le 4&egrave;me stage</td>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">5 stages</td>
<td style="padding: 2px 0px 2px 5px;">30 &euro; sur le 5&egrave;me stage</td>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">6 stages</td>
<td style="padding: 2px 0px 2px 5px;">40 &euro; sur le 6&egrave;me stage</td>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">7 stages</td>
<td style="padding: 2px 0px 2px 5px;">50 &euro; sur le 7&egrave;me stage</td>
</tr>
<tr>
<td style="padding: 2px 0px 2px 5px;">8 stages</td>
<td style="padding: 2px 0px 2px 5px;">+ 10 &euro; par stage suppl&eacute;mentaire</td>
</tr>
</tbody>
</table>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;<strong style="color: #1667a8;"><br />2.3&nbsp;Exemples :</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Vous inscrivez vos enfants pour :</p>
<ul style="color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">
<li>pour 2 stages en Et&eacute; :&nbsp;<em>il n' y a pas de r&eacute;duction.</em><br /><br /></li>
<li>pour 2 stages &agrave; la Toussaint et 2 stages &agrave; No&euml;l :&nbsp;<em>vous avez droit &agrave; 20 &euro; de r&eacute;duction sur le paiement total des stages de No&euml;l.</em></li>
</ul>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;2.4 Remarques</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Attention : lors du paiement n'oubliez pas d'indiquer le montant de la r&eacute;duction en communication</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><em><strong style="color: #1667a8;">N.B. La r&eacute;duction est calcul&eacute;e sur le "DERNIER" stage effectu&eacute; lors de la p&eacute;riode concern&eacute;e.</strong></em></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</p>
<h3 style="margin: auto 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">&nbsp;<em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es pour certains enfants domicili&eacute;s et effectuant un stage dans les communes suivantes:</em></h3>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;<strong style="color: #1667a8;">3. R&eacute;ductions &laquo; communes&raquo;</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">3.1 Jette<br />Les enfants domicili&eacute;s &agrave; Jette&nbsp;(4&euro;/jour) b&eacute;n&eacute;ficient d' une r&eacute;duction pour pour les stages effectu&eacute;s dans leur commune. Il n'y a pas de r&eacute;duction pour les cours de natation; les stages d' informatique, bijoux, art floral et p&acirc;tisserie et Pro Bmx, Skate</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</p>
<h3 style="margin: auto 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es pour des stages effectu&eacute;s &agrave; Li&egrave;ge.</em></h3>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">4. R&eacute;ductions Li&egrave;ge</strong>&nbsp;</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">4.1 R&eacute;ductions &laquo; stages nombreux &raquo;</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Une r&eacute;duction de 5 &euro; est accord&eacute;e &agrave; partir du 2&egrave;me stage effectu&eacute; durant nos stages d'&eacute;t&eacute;, par un m&ecirc;me enfant ou un enfant de la m&ecirc;me famille.</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">4.2 R&eacute;ductions &laquo; communes &raquo;</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Pour les stages se d&eacute;roulant &agrave; Awans, Amay et Villers-le-Bouillet , une r&eacute;duction de 15 &euro; est accord&eacute;e sur chaque stage se d&eacute;roulant pendant l'&eacute;t&eacute; (voir grille des prix), pour les enfants habitant l'entit&eacute;, sans r&eacute;duction pour le 2i&egrave;me stage.</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Pour le stage X-TREM &agrave; Villers-le-Bouillet, une r&eacute;duction de 15 &euro; est accord&eacute;e (voir grille des prix), pour les habitants de l'entit&eacute; de Villers et de Verlaine, sans r&eacute;duction pour le 2i&egrave;me stage.</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</p>
<h3 style="margin: auto 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es sur les cours collectifs pour adultes</em></h3>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;"><strong style="color: #1667a8;">5. R&eacute;ductions Cours adultes</strong></p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Une r&eacute;duction de 25% est accord&eacute;e &agrave; partir du 2&egrave;me&nbsp;<strong style="color: #1667a8;">abonnement trimestriel ou annuel&nbsp;</strong>&agrave; l'un de nos cours collectif (Aquabiking, Aquagym, Aquamix, Gym Entretien ou Swiss Jump).</p>
<p class="bodytext" style="margin: 5px; color: #4f6570; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px;">Si vous d&eacute;sirez participer &agrave; plusieurs cours collectifs dans la m&ecirc;me semaine, veuillez contacter nos bureaux (010/22.73.96) pour tout renseignement compl&eacute;mentaire et obtenir la grille tarifiaire.</p>
