---
layout: index
title: Bierges
img : 
img-mobile : 
css: 
banner:
index: 
permalink: /cfs/les_centres_cfs/bierges
menu: cfs
keywords: 
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

{% include pages/le_cfs/centres/bierges.html %}

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}
</div>
<!-- Content Area End -->
</div>
</div>
