<p>Une garderie est organisée dès <strong>07h30</strong> dans le <u>Brabant Wallon</u> - dès <strong>8h00</strong> à <u>Liège et à Bruxelles</u>, et le soir jusque <strong>18h00.</strong></p>

<p>Le forfait de garderie est de :</p>

<hr>
<strong>Brabant Wallon</strong> :
<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> 12€/semaine pour 1 enfant - 18€/semaine pour 2 enfants et 25€/semaine pour 3 enfants ou plus
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> A la carte : 1€ par demi-heure entamée et par enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Gratuité de 8h30 à 9h00 et de 16h00 à 16h30
	  </li>
	</ul>
</div>
<hr>
<strong>Bruxelles et Liège</strong>:
<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> 10€/semaine pour 1 enfant - 15€/semaine pour 2 enfants et 20€/semaine pour 3 enfants ou plus
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> A la carte : 1,5€ par heure entamée et par enfant
	  </li>
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Gratuité de 8h45 à 9h00 et de 16h00 à 16h15
	  </li>
	</ul>
</div>
<hr>
<p>Le paiement de la garderie se fait sur place, en <strong>liquide</strong>, le premier jour de stage.</p>
