Le CFS organise, pendant les vacances scolaires, des activités du lundi au vendredi de 9h00 à 16h00. Une garderie est organisée le matin dès 8h00 (7h30 dans le Brabant) et le soir jusqu’à 18h00.

<div id="container">

  <div class="team-members-tow mtb-50">

    <div class="sub-title">
        <span>Choisissez votre période</span>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#carnaval" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">CARNAVAL</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#paques" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">PÂQUES</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#ete" class="btn btn-block btn-info-filled" style="margin-bottom: 10px;">ÉTÉ</a>
      </div>
    </div>
    </div>
    </div>

    <div class="sub-title">
        <span id="carnaval">Carnaval</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061360148316172/sitestagescarnavalbrt.png" titre="Carnaval Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Brabant&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061357333938216/sitestagescarnavalbxl.png" titre="Carnaval Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Bruxelles&Groupe=1" autre_page="oui" bouton="Inscription" %}
      </div>
    </div>


      <div class="sub-title">
        <span id="paques">Pâques</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062406409191424/sitestagespaquesbrt.png" titre="Pâques Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Brabant&Groupe=2" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062408950808577/sitestagespaquesbxl.png" titre="Pâques Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Bruxelles&Groupe=2" autre_page="oui" bouton="Inscription" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062390613311489/sitestagespaqueslie.png" titre="Pâques Liège" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Liege&Groupe=4" autre_page="oui" bouton="Bientôt disponible" offline="Oui" %}
      </div>

    </div>

      <div class="sub-title">
        <span id="ete">Été</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062604543787009/sitestagesetebrt.png" titre="Été Brabant" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Brabant" autre_page="oui" bouton="Bientôt disponible" offline="Oui" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062607656091658/sitestagesetebxl.png" titre="Été Bruxelles" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Bruxelles" autre_page="oui" bouton="Bientôt disponible" offline="Oui" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062609191075860/sitestagesetelie.png" titre="Été Liège" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4&Province=Liege" autre_page="oui" bouton="Bientôt disponible" offline="Oui" %}
      </div>

    </div>
  </div>

</div>
