<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsinfopratiques/organisationgenerale.png" titre="Organisation générale" href="//stages/informations_pratiques/organisation_genrale" bouton="Plus d'info" %}<a class="btn btn-block btn-info-filled" style="margin-bottom: 25px !important;margin-top: 10px !important;" href="">Organisation générale</a>
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsinfopratiques/conseilspratiques.png" titre="Conseils pratiques" href="/stages/informations_pratiques/conseils_pratiques" bouton="Plus d'info"%}<a class="btn btn-block btn-info-filled" style="margin-bottom: 25px !important;margin-top: 10px !important;" href="/stages/informations_pratiques/conseils_pratiques">Conseils pratiques</a>
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsinfopratiques/assurance.png" titre="Assurances" href="/stages/informations_pratiques/assurances" bouton="Plus d'info" %}<a class="btn btn-block btn-info-filled" style="margin-bottom: 25px !important;margin-top: 10px !important;" href="/stages/informations_pratiques/assurances">Assurances</a>
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsinfopratiques/attestations.png" titre="Attestations" href="/stages/informations_pratiques/attestations" bouton="Plus d'info" %}<a class="btn btn-block btn-info-filled" style="margin-bottom: 25px !important;margin-top: 10px !important;" href="/stages/informations_pratiques/attestations">Attestations</a>
      	</div>

        <div class="col-sm-6 col-md-6 offset-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsinfopratiques/conditionsgenerales.png" titre="Conditions générales" href="/stages/informations_pratiques/conditions_generales" bouton="Plus d'info" %}<a class="btn btn-block btn-info-filled" style="margin-bottom: 25px !important;margin-top: 10px !important;" href="/stages/informations_pratiques/conditions_generales">Conditions générales</a>
        </div>

      </div>
    </div>
</div>