<p>Voici quelques astuces pour réduire le prix de vos activités au CFS.</p>

<div class="container">
	<div class="sub-title">
		<span>Réduction Familiale </span>
	</div>
<h5>Stage</h5>

Les réductions sont accordées aux enfants habitant sous le même toit. 

Il y a trois périodes de réduction : 

Toussaint et Noël 

Carnaval et Pâques 

Eté 

Attention, les différentes périodes ne sont pas cumulables. 

Une fois la période sélectionnée, 

additionnez le nombre de stages auquel vos enfants participent pendant cette période : 

Nombre de stages

Montant de la réduction 

2 stages (Brabant Wallon uniquement) 

10 € sur le 2ème stage 

3 stages

15 € sur le 3ème stage 

4 stages

20 € sur le 4ème stage 

5 stages

30 € sur le 5ème stage 

6 stages

40 € sur le 6ème stage 

7 stages 

50 € sur le 7ème stage 

8 stages

+ 10 € par stage supplémentaire 


Parascolaire 

Pour les activités parascolaires*, vous pouvez cumuler les activités des enfants qui habitent sous le même toit et bénéficier d'une réduction de 10€/activité, à partir de la 2ième activité. 

Excepté pour les activités CFS Academy 

	<div class="sub-title">
		Réduction communale
	</div>

Jette 

Les enfants domiciliés à Jette (4€/jour) bénéficient d' une réduction pour les stages* effectués dans leur commune.

Excepté pour les stages de natation; les stages d' informatique, bijoux, art floral et pâtisserie et Pro Bmx, Skate 

Amay - Awans - Villers le Bouillet 

Une réduction de 15 € est accordée sur chaque stage se déroulant pendant l'été (voir grille des prix), pour les enfants habitant l'entité, sans réduction pour le 2ième stage. 

Villers le Bouillet - Verlaine 

Une réduction de 15 € est accordée (voir grille des prix), pour les habitants de l'entité de Villers et de Verlaine, sans réduction pour le 2ième stage. 

	<div class="sub-title">
		Réduction Fiscale
	</div>

Vous pouvez télécharger votre attestation de fréquentation de stage à annexer à votre déclaration d'impôt. L'état intervient jusqu'à 11.20€/jour de stage en déduction fiscale pour les enfants de moins de 12 ans.
	<div class="sub-title">
		Intervention mutuelle
	</div>

Vous pouvez télécharger votre attestation de fréquentation de stage à transmettre à votre mutuelle. Cette dernière vous remboursera entre 10€ et 15€ / stage. Certaines mutualités remboursent également les activités extrascolaires.

	<div class="sub-title">
		Réduction cours adultes
	</div>

Une réduction de 25% est accordée à partir du 2ème abonnement trimestriel ou annuel à l'un de nos cours collectif (Aquabiking, Aquagym, Aquamix, Gym Entretien ou Swiss Jump). 

Si vous désirez participer à plusieurs cours collectifs dans la même semaine, veuillez contacter nos bureaux (010/22.73.96) pour tout renseignement complémentaire et obtenir la grille tarifaire. 

	<div class="sub-title">
		Chèques sport
	</div>

Demandez à votre employeur des chèques sports 

la loi autorise les entreprises belges à offrir des chèques sports pour un montant de 100€ par an et par travailleur 

Ces chèques sont exonérés d'ONSS et d'impôts pour le travailleur) ou à votre commune (sous certaines conditions) 

	<div class="sub-title">
		Partenariat entreprise
	</div>

Le CFS a développé des partenariats avec certaines entreprises afin de vous faire bénéficier de certaines réductions :

100 à 125 € (par stage) 

personnel BNP Paribas Fortis (pas pour les clients)*voir conditions d'obtention auprès de votre employeur

55€ et garderie gratuite (1 x / an) 

Personnel Orange SA * voir conditions d'obtention auprès de votre employeur

5% de réduction et garderie gratuite (par stage) 

Personnel TEC, Delta Loyds, AG Insurance, UPS 

</div>