<p>Voici quelques astuces pour réduire le prix de vos activités au CFS.</p>

<div class="container">

<div class="row">
<div class="col-md-12">
<div class="sub-title">
<span>Réduction familiale</span>
</div>


<h5>Stage</h5>

<p>Les réductions sont accordées aux enfants habitant sous le même toit. 

Il y a trois périodes de réduction :

Toussaint et Noël, 

Carnaval et Pâques, 

Eté </p>

<p>Attention, les différentes périodes ne sont pas cumulables.</p>

<p>Une fois la période sélectionnée, additionnez le nombre de stages auxquels vos enfants participent pendant cette période : </p>

<div class="table-responsive mtb">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th>Nombre de stages</th>
        <th>Réductions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2 stages (Brabant Wallon uniquement)</td>
        <td>10 €, sur le 2ème stage </td>
      </tr>
      <tr>
        <td>3 stages</td>
        <td>15 €, sur le 3ème stage </td>
      </tr>
      <tr>
        <td>4 stages</td>
        <td>20 €, sur le 4ème stage</td>
      </tr>
      <tr>
        <td>5 stages</td>
        <td>30 €, sur le 5ème stage</td>
      </tr>
      <tr>
        <td>6 stages</td>
        <td>40 €, sur le 6ème stage</td>
      </tr>
      <tr>
        <td>7 stages</td>
        <td>50 €, sur le 7ème stage </td>
      </tr>
      <tr>
        <td>8 stages</td>
        <td>+ 10 €, par stage supplémentaire</td>
      </tr>
    </tbody>
  </table>
</div>

<p><b>Liège</b></p>

<p>Une réduction de 5 € est accordée à partir du 2ème stage effectué durant nos stages, par un même enfant ou un enfant de la même famille.</p> 

<h5>Parascolaire</h5>

<p>Pour les activités parascolaires*, vous pouvez cumuler les activités des enfants qui habitent sous le même toit et bénéficier d'une réduction de 10€/activité, à partir de la 2ième activité. </p>

<p>Excepté pour les activités CFS Academy.</p>

	<div class="sub-title">
		<span>Réduction communale</span>
	</div>

<p><b>Jette</b></p>

<p>Les enfants domiciliés à Jette (4€/jour) bénéficient d' une réduction pour les stages* effectués dans leur commune.</p>

<p>Excepté pour les stages de natation; les stages d' informatique, bijoux, art floral, et pâtisserie et Pro Bmx, Skate.</p>

<p>Pour les stages se déroulant à <b>Villers-le-Bouillet</b>, une réduction de 15 € est accordée sur chaque stage (voir grille des prix), pour les enfants habitant l’entité, sans réduction pour le 2ème stage.</p>

<p>Pour les stages se déroulant à <b>Amay</b>, cette réduction pour les habitants de l'entité amaytoise est de 10€, sans réduction pour le 2ème stage.</p>

<p>Pour le stage X-TREM se déroulant à <b>Villers-le-Bouillet</b>, une réduction de 15€ est accordée, pour les habitants de l'entité de <b>Villers</b> et de l'entité de <b>Verlaine</b>, sans réduction pour le 2ème stage.</p>>

<div class="sub-title">
	<span>Réduction Fiscale</span>
</div>

<p>Vous pouvez télécharger votre attestation de fréquentation de stage à annexer à votre déclaration d'impôt. L'état intervient jusqu'à 11.20€/jour de stage en déduction fiscale pour les enfants de moins de 12 ans.</p>

<div class="sub-title">
	<span>Intervention mutuelle</span>
</div>

<p>Vous pouvez télécharger votre attestation de fréquentation de stage à transmettre à votre mutuelle. Cette dernière vous remboursera entre 10€ et 15€ / stage. Certaines mutualités remboursent également les activités extrascolaires.</p>

{% if page.url contains 'cfs/reductions' %}
<div class="sub-title">
	<span>Réduction cours adultes</span>
</div>

<p>Une réduction de 25% est accordée à partir du 2ème abonnement trimestriel ou annuel à l'un de nos cours collectif (Aquabiking, Aquagym, Aquamix, Gym Entretien ou Swiss Jump).</p>

<p>Si vous désirez participer à plusieurs cours collectifs dans la même semaine, veuillez contacter nos bureaux (010/22.73.96) pour tout renseignement complémentaire et obtenir la grille tarifaire.</p>

{% endif %}
<div class="sub-title">
	<span>Chèques sport</span>
</div>

<p>Demandez à votre employeur des chèques sports.</p>

<p>La loi autorise les entreprises belges à offrir des chèques sports pour un montant de 100€ par an et par travailleur.</p>

<p>Ces chèques sont exonérés d'ONSS et d'impôts pour le travailleur ou à votre commune (sous certaines conditions).</p>

<div class="sub-title">
	<span>Partenariat entreprise</span>
</div>

<p>Le CFS a développé des partenariats avec certaines entreprises afin de vous faire bénéficier de certaines réductions :</p>

<p>100 à 125 € (par stage) 

<p>Personnel BNP Paribas Fortis (pas pour les clients)*voir conditions d'obtention auprès de votre employeur.</p>

<p>55€ et garderie gratuite (1 x / an)</p> 

<p>Personnel Orange SA * voir conditions d'obtention auprès de votre employeur.</p>

<p>5% de réduction et garderie gratuite (par stage).</p>

<p>Personnel TEC, Delta Loyds, AG Insurance, UPS.</p>
</div>
</div>