
<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:20px"><strong>CFS ACADEMY&nbsp;</strong></span></p>

<p style="text-align:center"><a class="btn btn-primary" href="www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=5&amp;Province=Brabant&amp;Groupe=&amp;LG=FR&amp;_ga=2.111786756.1617301722.1573556259-301441336.1491468298" target="popup">Inscription rapide</a></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:18px">Pour les plus aguerris, le CFS vous propose une formule&nbsp;<img alt="" src="https://www12.iclub.be/images/upload/559/club.png" style="height:34px; width:60px" />&nbsp;avec certains avantages</span></p>

<p style="text-align:center"><span style="font-size:18px">Voici nos diff&eacute;rentes disciplines :</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">
	<a href="/activites/cfs_academy/mini_foot_academy">
		<img alt="" src="https://www12.iclub.be/images/upload/559/Boutons_activites__MiniFootAcademy.png" style="height:191px; width:190px" />
	</a>&nbsp;&nbsp; &nbsp; &nbsp; 
	<a href="/activites/cfs_academy/gym_pro_academy">
		<img alt="" src="https://www12.iclub.be/images/upload/559/Boutons_activites__Gym_Pro_Academy.png" style="height:191px; width:190px" />
	</a>&nbsp;&nbsp; &nbsp; &nbsp; 
	<a href="/activites/cfs_academy/ecole_de_natation">
		<img alt="" src="https://www12.iclub.be/images/upload/559/Boutons_activites__Academy_natation.png" style="height:190px; width:190px" />
	</a>&nbsp;&nbsp; &nbsp; &nbsp; 
	<a href="/activites/cfs_academy/tennis_academy">
		<img alt="" src="https://www12.iclub.be/images/upload/559/Boutons_activites__Tennis_Academy.png" style="height:192px; width:190px" />
	</a>
</p>

<p style="text-align:center">
	<a href="/activites/cfs_academy/judo_academy"><img alt="" src="https://www12.iclub.be/images/upload/559/Boutons_activites__Judo_Academy.png" style="height:191px; width:190px" /></a>&nbsp;&nbsp; &nbsp; &nbsp; <a href="/activites/cfs_academy/robotique_academy"><img alt="" src="https://www12.iclub.be/images/upload/559/codagerobotique.png" style="height:189px; width:190px" /></a>&nbsp;&nbsp; &nbsp; &nbsp; <a href="/activites/cfs_academy/danse_academy"><img alt="" src="https://www12.iclub.be/images/upload/559/codagerobotique.png" style="height:191px; width:190px" /></a>
</p>
