<p style="float:right;"><a class="btn btn-info-filled" href="http://www12.iclub.be/home3.asp?ClubID=559&amp;LG=FR" target="popup">Inscription rapide</a></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:18px">Pour les plus aguerris, le CFS vous propose une formule&nbsp;<img alt="" src="https://www12.iclub.be/images/upload/559/club.png" style="height:34px; width:60px" />&nbsp;avec certains avantages</span></p>

<p style="text-align:center"><span style="font-size:18px">Voici nos diff&eacute;rentes disciplines :</span></p>

<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/minifootacademy.png" titre="Mini-Foot Academy" href="/activites/cfs_academy/mini_foot_academy" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/gymacademy.png" titre="Gym Pro Academy" href="/activites/cfs_academy/gym_pro_academy" bouton="Plus d'info"%}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/ecoledenatation.png" titre="École de natation" href="/activites/cfs_academy/ecole_de_natation" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/tennisacademy.png" titre="Tennis Academy" href="/activites/cfs_academy/tennis_academy" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/judoacademy.png" titre="Judo Academy" href="/activites/cfs_academy/judo_academy" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/robotiqueacademy.png" titre="Robotique Academy" href="/activites/cfs_academy/robotique_academy" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-4">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy/danseacademy.png" titre="Danse Academy" href="/activites/cfs_academy/danse_academy" bouton="Plus d'info" %}
        </div>

      </div>

    </div>
</div>