
<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">

        <div class="col-sm-6 col-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/natbebesnageurs.png" titre="Bébés nageurs" href="//activites/ecole_de_natation/bebes_nageurs" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/sitecoursparticuliers.png" titre="Cours particuliers" href="/activites/ecole_de_natation/cours_particuliers" bouton="Plus d'info"%}
        </div>

        <div class="col-sm-6 col-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/coursdetransition.png" titre="Cours de transition" href="/activites/ecole_de_natation/cours_transition" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/natminiclub.png" titre="Mini-club" href="/activites/ecole_de_natation/cours_collectifs" bouton="Plus d'info" %}
        </div>

      </div>
    </div>
</div>

<!-- Selection CFS 4 colonnes -->	
<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">

        <div class="col-sm-6 col-md-3 offset-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/sitepsychoaqua.png" titre="Psycho aqua" href="/activites/ecole_de_natation/psycho_aqua" bouton="Plus d'info"%}
        </div>

        <div class="col-sm-6 col-md-3">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/courscollectifs.png" titre="Cours collectifs" href="/activites/cfs_academy" bouton="Plus d'info" %}
        </div>

      </div>
    </div>
</div>
<!-- End Team Members 04 -->