
<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">
        <div class="sub-title col-md-8">
          <span>Brabant Wallon</span>
        </div>
        <div class="col-md-4" style="margin-bottom: 20px;">
  <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=5" class="btn btn-block btn-info-filled">J'inscris mon petit nageur</a>
</div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/natbebesnageurs.png" titre="Bébés nageurs" href="/activites/ecole_de_natation/bebes_nageurs" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/sitecoursparticuliers.png" titre="Cours particuliers" href="/activites/ecole_de_natation/cours_particuliers" bouton="Plus d'info"%}
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/coursdetransition.png" titre="Cours de transition" href="/activites/ecole_de_natation/cours_transition" bouton="Plus d'info" %}
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/natminiclub.png" titre="Mini-club" href="/activites/ecole_de_natation/mini_club" bouton="Plus d'info" %}
        </div>

      </div>
    </div>
</div>

<!-- Selection CFS 4 colonnes -->	
<div class="container">
    <div class="team-members-tow mtb-50">
      <div class="row">

        <div class="sub-title col-md-8">
          <span>Bruxelles</span>
        </div>
        <div class="col-md-4" style="margin-bottom: 20px">
  <a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=5" class="btn btn-block btn-info-filled">J'inscris mon petit nageur</a>
</div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/sitepsychoaqua.png" titre="Psycho aqua" href="/activites/ecole_de_natation/psycho_aqua" bouton="Plus d'info"%}
        </div>

        <div class="col-sm-6 col-md-6">
          {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation/courscollectifs.png" titre="Cours collectifs" href="/activites/ecole_de_natation/cours_collectifs" bouton="Plus d'info" %}
        </div>

      </div>
    </div>
</div>
<!-- End Team Members 04 -->