Le CFS propose des activités sportives ou culturelles qui débutent au mois de septembre et se déroulent tout au long de l’année scolaire jusqu’à la fin du mois de mai.

Chaque enfant a le droit à une séance d’essai avant de s’engager de manière définitive.

On peut s’inscrire en cours d’année en fonction des places disponibles (le prix est alors calculé au prorata des séances restantes) et des activités.

<div class="row">
	{% for stage in site.data.extrascolaire.activites %}
  {% if stage.online %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>