<p>Le CFS propose après l’école et pendant les weekends des activités sportives, ludiques et culturelles pour petits et grands !</p>

<p>Les activités débutent au mois de septembre et se déroulent tout au long de l’année scolaire.</p>

<p>Il est possible de s’inscrire en cours d’année en fonction des places disponibles (le prix est alors calculé au prorata des séances restantes).</p>
<div class="col-md-12 text-center" style="font-size: 24px; margin-bottom: 20px;"><strong>Trouvez une activité pour votre enfant.</strong></div>
<!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="row">

                <div class="col-sm-6 col-md-6">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/extrascolaires.png" titre="Activités extrascolaires" href="/activites/extrascolaire" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-6">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy.png" titre="CFS<br/>Academy" href="/activites/cfs_academy" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-6">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation.png" titre="École de natation" href="/activites/ecole_de_natation" bouton="Plus d'info"%}
                </div>

                <div class="col-sm-6 col-md-6">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/parascolaires.png" titre="Activités parascolaires" href="/activites/parascolaire" bouton="Bientôt" offline="oui" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

<p>Le CFS propose des <strong>activités sportives</strong> ou <strong>culturelles</strong> qui débutent au mois de septembre et se déroulent tout au long de l’année scolaire.</p>
<p>Nous organisons également des <strong>activités parascolaires</strong> uniquement pour les <strong>élèves de l'école</strong>.</p>

<p>La plus ancienne <strong>école de natation</strong> du Brabant vous propose des cours particuliers, des cours de bébés nageurs, des cours collectifs, et un mini-club pour les plus aguerris.<p> 
<p>Vous trouverez également des <strong>cours de natation</strong> tous les mercredis à Jette à partir de 3 ans.</p>

<p>Pour les plus aguerris, le CFS vous propose maintenant une formule <strong>club</strong> avec certains avantages dans différentes disciplines.</p>