
<p style="text-align: center;"><strong><span style="font-size: large;">Trouver une activit&eacute; pour votre enfant</span></strong></p>
<!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="row">

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/extrascolaires.png" titre="Activités extrascolaires" href="/activites/extrascolaire" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation.png" titre="École de natation" href="/activites/ecole_de_natation" bouton="Plus d'info"%}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy.png" titre="CFS<br/>Academy" href="/activites/cfs_academy" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/parascolaires.png" titre="Activités parascolaires" href="/activites/parascolaire" bouton="Plus d'info" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 10px; font-family: Rubik, sans-serif; line-height: 25px; color: #444444; text-align: center;"><span style="box-sizing: inherit;"><span style="font-size: x-small;">Le CFS propose des&nbsp;<span style="box-sizing: inherit; font-weight: 700;">activit&eacute;s sportives&nbsp;</span>ou&nbsp;<span style="box-sizing: inherit; font-weight: 700;">culturelles</span>&nbsp;qui d&eacute;butent au mois de septembre et se d&eacute;roulent tout au long de l&rsquo;ann&eacute;e scolaire&nbsp;</span></span></p>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 10px; font-family: Rubik, sans-serif; line-height: 25px; color: #444444; text-align: center;"><span style="box-sizing: inherit;"></span><span style="font-size: small;">Nous organisons &eacute;galement des</span><span style="font-size: small;">&nbsp;</span><span style="font-size: small; box-sizing: inherit; font-weight: 700;">activit&eacute;s parascolaires</span><span style="font-size: small;">&nbsp;</span><span style="font-size: small;">uniquement pour les</span><span style="font-size: small;">&nbsp;</span><span style="font-size: small; box-sizing: inherit; font-weight: 700;">&eacute;l&egrave;ves de l'&eacute;cole.</span></p>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 10px; font-family: Rubik, sans-serif; line-height: 25px; color: #444444; text-align: center;"><span style="box-sizing: inherit;"><span style="font-size: x-small;">La plus ancienne &eacute;cole de natation du Brabant vous propose des cours particuliers, des cours de b&eacute;b&eacute;s nageurs, des cours collectifs, et un mini-club pour les plus aguerrit.&nbsp;</span></span></p>
<p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 10px; font-family: Rubik, sans-serif; line-height: 25px; color: #444444; text-align: center;"><span style="box-sizing: inherit;"><span style="font-size: x-small;">Vous trouverez &eacute;galement des&nbsp;<span style="box-sizing: inherit; font-weight: 700;">cours de natation</span>&nbsp;tous les mercredis &agrave;&nbsp;<span style="box-sizing: inherit; font-weight: 700;">Jette</span>&nbsp;&agrave; partir de 3 ans</span></span></p>
