
<p style="text-align: center;"><span style="font-size: 14.4px;"><strong>Trouver une activit&eacute; pour votre enfant&nbsp;</strong></span></p>
<p style="text-align: center;"><span style="font-size: 14.4px;">Le CFS propose des <strong>activit&eacute;s sportives </strong>ou <strong>culturelles</strong> qui d&eacute;butent au mois de septembre et se d&eacute;roulent tout au long de l&rsquo;ann&eacute;e scolaire&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 14.4px;">Nous organisons &eacute;galement des <strong>activit&eacute;s parascolaires</strong> uniquement pour les <strong>&eacute;l&egrave;ves de l'&eacute;cole.</strong></span></p>
<p style="text-align: center;"><span style="font-size: 14.4px;">La plus ancienne &eacute;cole de natation du Brabant vous propose des cours particuliers, des cours de b&eacute;b&eacute;s nageurs, des cours collectifs, et un mini-club pour les plus aguerrit.&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 14.4px;">Vous trouverez &eacute;galement des <strong>cours de natation</strong> tous les mercredis &agrave; <strong>Jette</strong> &agrave; partir de 3 ans.&nbsp;</span></p>

<!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="row">

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/extrascolaires.png" titre="Activités extrascolaires" href="/activites/extrascolaire" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation.png" titre="École de natation" href="/activites/ecole_de_natation" bouton="Plus d'info"%}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy.png" titre="CFS<br/>Academy" href="/activites/cfs_academy" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/parascolaires.png" titre="Activités parascolaires" href="/activites/parascolaire" bouton="Plus d'info" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->
