---
layout: index
title: Cours Adultes
img : 
img-mobile : 
group : navigation
css: 
banner: 
index: 
permalink: /cours_adultes/
menu: adultes
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="container">
     <div class="team-members-tow mtb-50">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/aquamix.png" title="Aqua Mix" href="/coursadultes/aquamix.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/gymentretien.png" title="Gym entretien" href="/coursadultes/gymentretien.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/aquabiking.png" title="Aqua Bike" href="/coursadultes/aquabie.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/fitfdance.png" title="Fit Dance" href="/coursadultes/fitdance.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/abdosfessiers.png" title="Abdos Fessiers" href="/coursadultes/abdosfessiers.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/swissjump.png" title="Swiss Jump" href="/coursadultes/swissjump.png" inscription="non" %}
			</div>

			<div class="col-sm-6 col-md-3">
				{% include coleen/bulle.html src="/assets/images/boutonscoursadultes/aquagym.png" title="Aqua Gym" href="/coursadultes/aquagym.png" inscription="non" %}
			</div>
		</div>
	</div>
</div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>