---
layout: index
title: Aquagym
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /cours_adultes/aquagym/
menu: cours_adultes
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">

{% if page.menu %}

<section class="blog">
    <div class="container">
      <div class="row">

        <!-- sidebar area -->
        <div class="col-sm-12 col-md-3">

          <div class="blog-block categories-sidebar-widget">
            <h4>Menu</h4>

            {% for item in site.data.menus.cours_adultes.docs %}
            <div class="post-category">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            {% endfor %}

          </div>
        </div>

        <!-- content area -->

        <div class="col-sm-12 col-md-9">
{% endif %}

<div class="container">
     <div class="team-members-tow mtb-50">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656072119549165568/aquamix.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Aqua Mix</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>
			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656073863125270558/gymentretien.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Gym Entretien</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656072120933285888/aquabiking.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Aqua Biking</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656073535000674304/fitfdance.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Fit Dance</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>

		</div>
	</div>    
<!-- End Team Members 04 -->

<div class="team-members-tow mtb-50">
	<div class="row" style="text-align: center !important;">
		<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656073535000674304/fitfdance.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Fit Dance</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>
		<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656073535000674304/fitfdance.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Fit Dance</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>
		<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<figure>
					<img src="https://media.discordapp.net/attachments/656057943346642945/656073535000674304/fitfdance.png" style="border-radius: 50%;" alt="">
					<div class="image-overlay bulle4">
						<div class="overlay-text text-center">
							<div class="info-text">
								<strong>Fit Dance</strong>
								<span>TROP BIEN</span>
							</div>
							<hr class="small-divider border-white">
							<ul class="social-icons">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</figure>
				<!-- Team Item Ends -->
			</div>
	</div>
</div>
</div>
{% if page.menu %}
        </div>

      </div>
    </div>
  </section>
{% endif %}
<!-- Content Area End -->
</div>
</div>
