---
layout: index
title: aquamix
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /cours_adultes/aquamix/
menu: adultes
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<p>Vous ne savez pas choisir entre Aquabike et Aquagym ? Bonne nouvelle ! Venez d&eacute;couvrir notre cours Aqua&#39;Mix qui allie le travail des jambes, des bras et du haut du corps.</p>

<p>Horaires disponibles :</p>

<ul>
	<li>Lundi
	<ul>
		<li>09h00 &agrave; 09h45</li>
	</ul>
	</li>
</ul>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>