---
layout: index
titre: Anniversaires
img : 
img-mobile : 
group : navigation
css: 
banner: 
index: 
permalink: /anniversaires/
menu: anniversaires
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_anniversaires.html %}
{% endif %}
			<!-- Image de ballons -->
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<img src="https://www12.iclub.be/images/upload/559/ballons_annif.jpg" style="width: 100%; height: auto;">
				</div>
	</div>
			<!-- Boutons de présentation -->
			<div class="row">
				<div class="col-md-4">
					<a href="/anniversaires/domicile" class="btn btn-block btn-success-filled" style="margin-top: 15px;">À MON DOMICILE</a>
				</div>
				<div class="col-md-4">
					<a href="/anniversaires/lieu_sportif_et_fun" class="btn btn-block btn-danger-filled" style="margin-top: 15px;">DANS UN LIEU SPORTIF ET FUN</a>
				</div>
				<div class="col-md-4">
					<a href="/anniversaires/piscine" class="btn btn-block btn-info-filled" style="margin-top: 15px;">À LA PISCINE</a>
				</div>
			</div>
			<br><br>
			<center>2H00 D'ANIMATION ENCADREES PAR UN MONITEUR DU CFS<br>LES NOUVEAUTES A PARTIR D'AVRIL</center>


			<div class="team-members-tow mtb-50">
				<div class="row" style="text-align: center !important;">

					<div class="col-sm-6 col-md-4">
						{% include coleen/bulle.html src="/assets/images/banner/anniversaires/aventuretrophy.png" titre="Aventure Trophy" href="" bouton="Plus d'info" %}
					</div>

					<div class="col-sm-6 col-md-4">
						{% include coleen/bulle.html src="/assets/images/banner/anniversaires/nautifun.png" titre="Nautifun" href="" bouton="Plus d'info" %}
					</div>

					<div class="col-sm-6 col-md-4">
						{% include coleen/bulle.html src="/assets/images/banner/anniversaires/timesup.png" titre="Time's Up" href="" bouton="Plus d'info" %}
					</div>

				</div>
			</div>


			<!-- Boutons de fin -->
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="btn btn-block btn-info-filled" style="margin-top: 15px;">INSCRIPTION</a>
				</div>
				<div class="col-md-6">
					<a href="en_savoir_plus" class="btn btn-block btn-info-filled" style="margin-top: 15px;">PLUS D'INFORMATIONS</a>
				</div>
			</div>
			<!-- Fin des boutons de fin -->

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>