---
layout: index
title: À mon domicile
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /anniversaires/domicile/
menu: anniversaires
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
	
{% if page.menu %}
{% include menus/menu_left_anniversaires.html %}
{% endif %}

A MON DOMICILE

 

Anniversaires Fun

Laser Game – A partir de 7 ans

📍 A domicile 

Une activité fun outdoor à effectuer entres amis !

Une activité à la fois sportive, ludique, stratégique et divertissante dans lequel plusieurs joueurs ou unités s’affrontent.

Nous organisons l’anniversaire en plusieurs étapes :

 

Découverte et fonctionnement des lasers
Consignes de sécurité
Création des équipes
Déroulement de l’activité (jeux variés)
 

Tout au long de l’anniversaire, nous mettons en place des jeux variés et ludiques.  

Info supp. : 25€/enfant supplémentaire

 

BMX/Skate/Trottinette – A partir de 9 ans

📍 A domicile ou au Skate Park

Des sports extrêmes pour ton anniversaire !

Nous prévoyons une initiation et un perfectionnement au Skate, au BMX ou à la Trottinette.

Nous allons t’apprendre de nouvelles figures dans une ambiance propre à ces sports extrêmes.

Tes amis et toi seront encadrés par des professionnels dans leur domaine.

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Anniversaires Artistiques

Chasse au Trésor – Moins de 7 ans

📍 A domicile 

L’anniversaire « chasse au trésor » est un mélange de défis sportifs et intellectuels.

Deux équipes se font face et après chaque épreuve, ils reçoivent une pièce de la carte au trésor.

Ils reçoivent comme récompense des bonbons cachés dans une boîte à trésor.

Info supp. : Réservation souhaitée 2 semaines à l’avance.

 

Magie

📍 A domicile 

Grâce à un magicien ayant plein de tours dans son sac, les enfants découvrent le monde de l’illusion et de la manipulation.

Les enfants apprendront certains tours. Un petit spectacle d’une heure est prévu dans l’organisation de l’anniversaire.

Info supp. : Réservation souhaitée 2 semaines à l’avance.

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>