{% assign menu_principal = site.data.menus.events %}

{% if include.mobile %}
<section class="blog d-block d-sm-none">
    <div class="container">
        <div class="row">

        <!-- sidebar area -->
        <div class="col-md-12">

            <div class="blog-block categories-sidebar-widget">
                <h4><a href="{{ menu_principal.menu.url }}">{{ menu_principal.menu.titre }}</a></h4>

                {% for item in menu_principal.docs %}
                    <div class="post-category">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </div>
            
                    {% if page.url contains item.url %}
                        {% for brol in item.sousmenu %}
                            <div class="post-category" style="border-bottom: 0px !important; padding-left: 35px !important;">
                                    <a href="{{brol.url}}">{{ brol.title}}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
</section>
<div class="mb-60"></div>
{% endif %}

{% unless include.mobile %}

<section class="blog">
    <div class="container">
      <div class="row">

        <!-- sidebar area -->
        <div class="col-sm-12 col-md-3 d-none d-sm-block">

          <div class="blog-block categories-sidebar-widget">
            <h4><a href="{{ menu_principal.menu.url }}">{{ menu_principal.menu.titre }}</a></h4>

            {% for item in menu_principal.docs %}
            <div class="post-category">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            {% if page.url contains item.url %}
                {% for brol in item.sousmenu %}
                <div class="post-category" style="border-bottom: 0px !important; padding-left: 35px !important;">
                <a href="{{brol.url}}">{{ brol.title}}</a>
                </div>
                {% endfor %}
            {% endif %}
            {% endfor %}

          </div>
        </div>

        <!-- content area -->

        <div class="col-sm-12 col-md-9">
{% endunless %}