<!-- Team Item Starts -->
{% unless include.offline %}
<a href="{% if include.href %}{{ BASE_PATH }}{{ include.href }}{% else %}https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559{% endif %}" {% if include.autre_page %}target="_blank"{% endif %} style="color: #fff !important;">
{% endunless %}
  <figure>
    <img src="{{ include.src }}" alt="" style="border-radius: 5%;{% if include.offline %}opacity: 0.2; filter: alpha(opacity=20);{% endif %}">
    <div class="desktop image-overlay bulle3">
      <div class="overlay-text text-center">
        <div class="info-text">
          <strong>{% if include.titre_overlay%}{{ include.titre_overlay}}{% else %}{{ include.titre }}{% endif %}</strong>
        </div>
        <hr class="small-divider border-white">
        {% unless include.offline %}
        <a href="{% if include.href %}{{ include.href }}{% else %}https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559{% endif %}" {% if include.autre_page %}target="_blank"{% endif %} class="btn btn-block btn-{% if include.couleur_bouton %}{{ include.couleur_bouton}}{% else %}info{% endif %}-filled" style="margin-top: 15px; color: #fff !important;">
        {% endunless %}
        {% if include.offline %}
        <button class="btn btn-block btn-{% if include.couleur_bouton %}{{ include.couleur_bouton}}{% else %}info{% endif %}-filled" style="margin-top: 15px; color: #fff !important;">
        {% endif %}
            <i class="fa fa-edit"></i> {% if include.bouton %} {{ include.bouton }}{% else %} Bientôt disponible{% endif %}
        {% if include.offline %}
        </button>
        {% endif %}
        {% unless include.offline %}
        </a>
        {% endunless %}
      </div>
    </div>
  </figure>
{% unless include.offline %}
</a>
{% endunless %}
<!-- Team Item Ends -->