<div class="col-md-4 col-xs-6">
    <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}/assets/images{{ anniversaire.img }}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ anniversaire.name }}</h3>
        <div class="meta">
          {% if anniversaire.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
          {{anniversaire.age}}
        </div>
        <div class="description">
          <center><a data-toggle="modal" data-target="#{{ anniversaire.name | escape }}"><span class="label label-pill label-info-filled">Plus d'info</span></a></center>
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-map-marker"> {{ anniversaire.lieu }}</i>
        </span>
      </div>
    </div>
</div>
<div class="modal fade" id="{{anniversaire.name | escape }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}/assets/images{{ anniversaire.img }}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ anniversaire.name }}</h3>
        <div class="meta">
          {% if anniversaire.nouveau %}<span class="badge badge-success" style="float: right;">NOUVEAU</span>{% endif %}
          {{anniversaire.age}}<br/>
          {{ anniversaire.infos }}
        </div>
        <div class="description">
          {{ anniversaire.description }}
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-map-marker"> {{ anniversaire.lieu }}</i>
        </span>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 5px;">Autre activité</button>
        <a class="btn btn-info-filled" href="
          {% if page.url contains 'activites' %}
            https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=6
          {% else %}
            https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=4
          {% endif %}
          " target="_blank">Inscription</a>
      </div>
    </div>
  </div>
</div>