---
layout: index
title: EVG
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /events/evg/
menu: events
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_events.html %}
{% endif %}

Tu veux passer un moment inoubliable pour ton EVG/EVJF, le cfs peux t’organiser une activité fun telle que

Laser game
Bubble soccer
Arrow game
 

Plus d’information event@lecfs.be ou 02 420 53 02 / 010 22 73 96

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
