---
layout: index
titre: Events
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /events/
menu: events
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_events.html %}
{% endif %}

<div class="team-members-tow mtb-50">
    <div class="row" style="text-align: center !important;">

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/anniversaires.png" titre="Anniversaires" href="/anniversaires" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/evg.png" titre="EVG" href="/events/evg" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/tournois.png" titre="Tournois" href="/events/tournois" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeesdupersonnel.png" titre="Journées du personnel" href="/events/journees_du_personnel" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeessportives.png" titre="Journées sportives" href="/events/journees_sportives" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeespedagogiques.png" titre="Journées pédagogiques" href="/events/journees_pedagogiques" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/fancyfair.png" titre="Fancy Fair" href="/events/fancy_fair" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/locationmateriel.png" titre="Location de matériel" href="/events/location_de_materiel" bouton="Plus d'info" %}
      </div>

    </div>
  </div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>