<p style="text-align:right"><a class="btn btn-primary" href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=5&amp;Province=Brabant&amp;Groupe=&amp;LG=FR&amp;_ga=2.23788346.1617301722.1573556259-301441336.1491468298" target="popup">J&#39;inscris mon nageur </a></p>

<p><span style="font-size:20px">Cours particuliers </span><span style="font-size:16px">(6 &agrave; 14 ans)</span></p>

<p>Un apprentissage individuel durant lequel l&rsquo;&eacute;l&egrave;ve profite pleinement de la relation privil&eacute;gi&eacute;e avec son moniteur. S&eacute;ances de 20 minutes. Les entr&eacute;es &agrave; la piscine et l&#39;assurance sont comprises dans le prix.</p>

<p><img alt="wink" src="https://www12.iclub.be/ck/ckeditor/plugins/smiley/images/wink_smile.png" title="wink" />&nbsp;<em><strong>CLUB</strong> : La plus ancienne &eacute;cole de natation du Brabant Wallon (depuis 1981) - Passage de brevets en fin de cycle</em><br />
<br />
<img alt="enlightened" src="https://www12.iclub.be/ck/ckeditor/plugins/smiley/images/lightbulb.png" style="height:23px; width:23px" title="enlightened" />&nbsp;Horaires disponibles : le choix de l&#39;horaire se fait au moment de l&#39;inscription. Pour visualiser les horaires disponibles, vous pouvez commencer une inscription sans la finaliser&nbsp;</p>

<p><br />
📍<strong> Brabant Wallon</strong> - Bierges &amp;&nbsp;Ottignies&nbsp;</p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
