<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Le cours d&rsquo;abdos fessiers te propose une multitude d&rsquo;exercices de renforcement et de m&eacute;thodes d&rsquo;entrainement, qui te permettront d&rsquo;obtenir des r&eacute;sultats dans la joie et la bonne humeur. </span></span></p>

<p><em>Horaires disponibles :&nbsp;</em></p>

<ul>
	<li>Mardi
	<ul>
		<li>18h30 &agrave;&nbsp;19h30</li>
		<li>20h30 &agrave; 21h30</li>
	</ul>
	</li>
	<li>Jeudi&nbsp;
	<ul>
		<li>20h30 &agrave; 21h30</li>
	</ul>
	</li>
</ul>