<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p>L&#39;aquabike est pour tout le monde! Du sportif confirm&eacute; au d&eacute;butant, femme enceinte, personne en r&eacute;&eacute;ducation... A ce stade, l&#39;&eacute;mulation de l&#39;aquabike vient en majeure partie de la souplesse et de l&#39;effort. En effet, l&#39;eau permet de se muscler en douceur, car la r&eacute;sistance de l&#39;eau est 15 fois sup&eacute;rieure &agrave; celle de l&#39;air. On observe des r&eacute;sultats certains sur le raffermissement de la peau ainsi qu&#39;une silhouette tonifi&eacute;e. Apr&egrave;s votre cours, retrouvez une sensation de&nbsp;bien-&ecirc;tre, mais sans courbature.</p>

<p>Horaires disponibles :</p>

<ul>
	<li>Lundi
	<ul>
		<li>9h45 &agrave; 10h30</li>
		<li>10h30 &agrave; 11h15</li>
		<li>18h00 &agrave; 18h45</li>
		<li>18h45 &agrave; 19h30</li>
		<li>19h30 &agrave; 20h15</li>
		<li>20h15 &agrave; 21h00</li>
	</ul>
	</li>
	<li>Mardi :
	<ul>
		<li>9h45 &agrave; 10h30</li>
	</ul>
	</li>
	<li>Mercredi :
	<ul>
		<li>9h00 &agrave; 9h45</li>
		<li>9h45&nbsp;&agrave; 10h30</li>
		<li>10h30&nbsp;&agrave; 11h15</li>
		<li>18h30 &agrave; 19h15</li>
		<li>19h15 &agrave; 20h00</li>
		<li>20h00 &agrave; 20h45</li>
		<li>20h45 &agrave; 21h30</li>
	</ul>
	</li>
	<li>Jeudi :
	<ul>
		<li>9h45 &agrave; 10h30</li>
		<li>18h00&nbsp;&agrave; 18h45</li>
		<li>18h45&nbsp;&agrave; 19h30</li>
		<li>19h30 &agrave; 20h15</li>
		<li>20h15 &agrave; 20h30</li>
	</ul>
	</li>
	<li>Vendredi :
	<ul>
		<li>9h45 &agrave; 10h30</li>
		<li>12h30&nbsp;&agrave; 13h15</li>
	</ul>
	</li>
</ul>