<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p>L'aquagym est un sport complet qui sollicite l'ensemble de vos muscles. Au programme: échauffement, exercices ciblant le développement du système cardio-vasculaire et le renforcement du système musculaire. Fin de la séance par un retour au calme et du stretching.</p>

<p><h4>Horaires disponibles</h4></p>

<hr>
<strong>Mardi</strong>
	<ul>
		<li>09h00 à 09h45</li>
		<li>19h15 à 20h00</li>
		<li>20h00 à 20h45</li>
		<li>20h45 à 21h30</li>
	</ul>
<hr>