<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p>Vous ne savez pas choisir entre Aquabike et Aquagym ? Bonne nouvelle ! Venez d&eacute;couvrir notre cours Aqua&#39;Mix qui allie le travail des jambes, des bras et du haut du corps.</p>

<p>Horaires disponibles :</p>

<ul>
	<li>Lundi
	<ul>
		<li>09h00 &agrave; 09h45</li>
	</ul>
	</li>
	<li>Jeudi
	<ul>
		<li>09h00 &agrave; 09h45</li>
	</ul>
	</li>
	<li>Vendredi
	<ul>
		<li>09h00 &agrave; 09h45</li>
	</ul>
	</li>
</ul>