<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>L'aquabike est pour tout le monde! Du sportif confirmé au débutant, femme enceinte, personne en rééducation... A ce stade, l'émulation de l'aquabike vient en majeure partie de la souplesse et de l'effort. En effet, l'eau permet de se muscler en douceur, car la résistance de l'eau est 15 fois supérieure à celle de l'air. On observe des résultats certains sur le raffermissement de la peau ainsi qu'une silhouette tonifiée. Après votre cours, retrouvez une sensation de bien-être, mais sans courbature.</p>

<p><h4>Horaires disponibles</h4></p>
<hr>
<strong>Lundi</strong>
	<ul>
		<li>9h45 à 10h30</li>
		<li>10h30 à 11h15</li>
		<li>18h00 à 18h45</li>
		<li>18h45 à 19h30</li>
		<li>19h30 à 20h15</li>
		<li>20h15 à 21h00</li>
	</ul>
<hr>
<strong>Mardi</strong>
	<ul>
		<li>9h45 à 10h30</li>
	</ul>
<hr>
<strong>>Mercredi</strong>
	<ul>
		<li>9h00 à 9h45</li>
		<li>9h45 à 10h30</li>
		<li>10h30 à 11h15</li>
		<li>18h30 à 19h15</li>
		<li>19h15 à 20h00</li>
		<li>20h00 à 20h45</li>
		<li>20h45 à 21h30</li>
	</ul>
<hr>
<strong>Jeudi</strong>
	<ul>
		<li>9h45 à 10h30</li>
		<li>18h00 à 18h45</li>
		<li>18h45 à 19h30</li>
		<li>19h30 à 20h15</li>
		<li>20h15 à 21h00</li>
	</ul>
<hr>
<strong>Vendredi</strong>
	<ul>
		<li>9h45 à 10h30</li>
		<li>12h30 à 13h15</li>
	</ul>
<hr>