<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p>Vous ne savez pas choisir entre Aquabike et Aquagym ? Bonne nouvelle ! Venez découvrir notre cours Aqua Mix qui allie le travail des jambes, des bras et du haut du corps.</p>

<p><h4>Horaires disponibles</h4></p>

<hr>
<strong>Lundi</strong>
	<ul>
		<li>09h00 à 09h45</li>
	</ul>
<hr>
<strong>Jeudi</strong>
	<ul>
		<li>09h00 à 09h45</li>
	</ul>
<hr>
<strong>Vendredi</strong>
	<ul>
		<li>09h00 à 09h45</li>
	</ul>
<hr>