<p>L&#39;aquagym est un sport complet qui sollicite l&#39;ensemble de vos muscles. Au programme: &eacute;chauffement, exercices ciblant le d&eacute;veloppement du syst&egrave;me cardio-vasculaire et le renforcement du syst&egrave;me musculaire. Fin de la s&eacute;ance par un retour au calme et du stretching.</p>

<p><em>Horaires disponibles :&nbsp;</em></p>

<ul>
	<li>Mardi&nbsp;
	<ul>
		<li>09h00 &agrave; 09h45</li>
		<li>19h15 &agrave; 20h00</li>
		<li>20h00 &agrave; 20h45</li>
		<li>20h45 &agrave; 21h30</li>
	</ul>
	</li>
</ul>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>