<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p>Tu as envie de te dépenser en t'amusant ? Viens suivre le cours de FIT DANCE ! Mélange de mouvements de danse et de fitness exécutés sur des musiques entraînantes!</p>

<p><h4>Horaires disponibles</h4></p>

<hr>
<strong>Lundi</strong>
	<ul>
		<li>20h15 à 21h00</li>
	</ul>
<hr>
<strong>Jeudi</strong>
	<ul>
		<li>19h30 à 20h30</li>
	</ul>
<hr>