<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled" target="_blank">Inscription cours adultes</a>
</div>
<p>Entretien de la mobilité des articulations pour permettre de vivre plus longtemps la liberté des mouvements sans souffrance. Renforcement des diverses parties du corps: ceintures scapulaire et pelvienne, muscles abdominaux et dorsaux, les mains, les pieds...</p>

<p><em>Horaires disponibles :</em></p>

<hr>
<strong>Lundi</strong>
	<ul>
		<li>9h30 à 10h30</li>
		<li>19h00 à 20h00</li>
	</ul>
<hr>