<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled" target="_blank">Inscription</a>
</div>
<p>Le Swiss Jump est un cours collectif qui permet de faire du fitness d'une façon originale et ludique. Cette activité conviviale se pratique sur un trampoline pourvu d'un guidon et consiste à réaliser une série d'exercices plus ou moins soutenus. Le Swiss Jump est basé sur une sensation de liberté et encourage l'effort physique agréable. L'activité convient à toutes les catégories d'âges et à tous les niveaux.</p>

<p>Les mouvements sont adaptés à la musique choisie - les participants enchaînent les rebonds sur les pieds, les talons ou les pointes, tout en se déplaçant en avant et en arrière. Le haut du corps et les bras sont également sollicités puisque qu'il faut réaliser de nombreux mouvements dans les airs à des rythmes variables. Le programme est préparé avec soin, chaque exercice est unique et a un but bien précis. Ce sport est complet, il muscle à la fois les bras, le dos, les fessiers et même les abdos car le gainage du corps est fondamental. De plus, le Swiss Jump est un moyen amusant de retourner en enfance pour les adultes.</p>

<p>Le trampoline est également un bien pour la santé, les impacts pour les articulations sont diminués par rapport à d'autres sports comme la course à pied. Le Swiss Jump est aussi efficace contre la dépression, stimule le métabolisme et aide à la relaxation.</p>

<p><h4>Horaires disponibles</h4></p>

<hr>
<strong>Mardi</strong>
	<ul>
		<li>19h30 à 20h30</li>
	</ul>
<hr>
<strong>Mercredi</strong>
	<ul>
		<li>19h00 à 20h00</li>
	</ul>
<hr>