<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=3&Province=Brabant" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<p style="margin-left:5px">Le Swiss Jump est un cours collectif qui permet de faire du fitness d&#39;une fa&ccedil;on originale et ludique. Cette activit&eacute; conviviale se pratique sur un trampoline pourvu d&#39;un guidon et consiste &agrave; r&eacute;aliser une s&eacute;rie d&#39;exercices plus ou moins soutenus. Le Swiss Jump est bas&eacute; sur une sensation de libert&eacute; et encourage l&#39;effort physique agr&eacute;able. L&#39;activit&eacute; convient &agrave; toutes les cat&eacute;gories d&#39;&acirc;ges et &agrave; tous les niveaux.</p>

<p style="margin-left:5px">Les mouvements sont adapt&eacute;s &agrave; la musique choisie - les participants encha&icirc;nent les rebonds sur les pieds, les talons ou les pointes, tout en se d&eacute;pla&ccedil;ant en avant et en arri&egrave;re. Le haut du corps et les bras sont &eacute;galement sollicit&eacute;s puisque qu&#39;il faut r&eacute;aliser de nombreux mouvements dans les airs &agrave; des rythmes variables. Le programme est pr&eacute;par&eacute; avec soin, chaque exercice est unique et a un but bien pr&eacute;cis. Ce sport est complet, il muscle &agrave; la fois les bras, le dos, les fessiers et m&ecirc;me les abdos car le gainage du corps est fondamental. De plus, le Swiss Jump est un moyen amusant de retourner en enfance pour les adultes.</p>

<p style="margin-left:5px">Le trampoline est &eacute;galement un bien pour la sant&eacute;, les impacts pour les articulations sont diminu&eacute;s par rapport &agrave; d&#39;autres sports comme la course &agrave; pied. Le Swiss Jump est aussi efficace contre la d&eacute;pression, stimule le m&eacute;tabolisme et aide &agrave; la relaxation.</p>

<p style="margin-left:5px"><em>Horaires disponibles</em>&nbsp;:</p>

<ul>
	<li>Mardi&nbsp;
	<ul>
		<li>19h30&nbsp;&agrave; 20h30</li>
	</ul>
	</li>
	<li>Mercredi
	<ul>
		<li>19h00 &agrave; 20h00</li>
	</ul>
	</li>
</ul>