<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:20px"><strong>TENNIS ACADEMY</strong></span></p>

<p style="text-align:center"><span style="font-size:20px"><strong><a class="btn btn-primary" href="www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&amp;Categorie=5&amp;Province=Brabant&amp;Groupe=&amp;LG=FR&amp;_ga=2.111786756.1617301722.1573556259-301441336.1491468298" target="popup">Inscription rapide</a></strong></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="color:#2980b9"><span style="font-size:18px">Voici les avantages que nous proposons au CFS&nbsp;</span></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:16px">&bull; Club de Tennis TC Ottintois</span></p>

<p style="text-align:center"><span style="font-size:16px">&bull; Cours d&#39;initiation / perfectionnement&nbsp;</span></p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
