---
layout: index
title: Découvertes sportives et culturelles
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /stages/activites/decouvertes_sportives_et_culturelles/
menu: stages
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains 'decouvertes' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
