---
layout: index
title: Découvertes sportives et culturelles
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /stages/activites/decouvertes_sportives_et_culturelles/
menu: stages
keywords: 
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

{% include pages/stages/activites/decouvertessportives.html %}

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
