---
layout: index
title: Stages Enfants
img : 
img-mobile : 
group : navigation
css: 
banner: 
index: 
permalink: /stages/
menu: stages
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}
<div id="container">

  <div class="team-members-tow mtb-50">

    <div class="sub-title"  style="padding-bottom: : 15px; !important">
        <span>Périodes</span>
    </div>
    <div class="row">

      <div class="col-xs-4 col-sm-4 col-md-4" style="padding-bottom: : 15px;">
        <a href="#carnaval" class="btn btn-block btn-success-filled">CARNAVAL</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4" style="padding-bottom: : 15px;">
        <a href="#paques" class="btn btn-block btn-success-filled">PÂQUES</a>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4" style="padding-bottom: : 15px;">
        <a href="#ete" class="btn btn-block btn-success-filled">ÉTÉ</a>
      </div>

    </div>

    <div class="sub-title">
        <span id="carnaval">Carnaval</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061360148316172/sitestagescarnavalbrt.png" title="Carnaval Brabant" href="#" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656061357333938216/sitestagescarnavalbxl.png" title="Carnaval Bruxelles" href="#" %}
      </div>
    </div>


      <div class="sub-title">
        <span id="paques">Pâques</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062406409191424/sitestagespaquesbrt.png" title="Pâques Brabant" href="#" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062408950808577/sitestagespaquesbxl.png" title="Pâques Bruxelles" href="#" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062390613311489/sitestagespaqueslie.png" title="Pâques Liège" href="#" %}
      </div>

    </div>

      <div class="sub-title">
        <span id="ete">Été</span>
    </div>

    <div class="row">

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062604543787009/sitestagesetebrt.png" title="Été Brabant" href="#" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062607656091658/sitestagesetebxl.png" title="Été Bruxelles" href="#" %}
      </div>

      <div class="col-xd-6 col-sm-6 col-md-4">
        {% include coleen/bulle.html src="https://media.discordapp.net/attachments/656057943346642945/656062609191075860/sitestagesetelie.png" title="Été Liège" href="#" %}
      </div>

    </div>
  </div>

</div>
{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}
</div>
<!-- Content Area End -->
</div>
</div>