---
layout: index
title: Les Petits Bouts
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /stages/activites/petits_bouts/
menu: stages
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains "bouts" %}
<div class="col-md-4 col-xs-6">
    <div class="card-2">
      <div class="image">
        <img src="{{ BASE_PATH }}/assets/images/stages{{ stage.img }}">
      </div>
      <div class="card-block">
        <h3 class="card-title">{{ stage.name }}</h3>
        <div class="meta">
          3 ans
        </div>
        <div class="description">
          {{ stage.description }}
        </div>
      </div>
      <div class="extra">
        <span>
          <i class="fa fa-user"> {{ stage.lieu }}</i>
        </span>
      </div>
    </div>
</div>
  {% endif %}
	{% endfor %}
</div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
