---
layout: index
title: Informations pratiques
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /stages/informations_pratiques/
menu: stages
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="row">
<div class="col-md-6">
<p><img src="https://www12.iclub.be/images/upload/559/pictoorganisationgenerale.png" style="height:auto; width:50%" /></p>
<a class="btn btn-info btn-block" href="#">Organisation G&eacute;n&eacute;rale</a></div>

<div class="col-md-6">
<p><img src="https://www12.iclub.be/images/upload/559/conseilspratiques.png" style="height:auto; width:50%" /></p>
<a class="btn btn-info btn-block" href="#">Quelques conseils pratiques</a></div>
</div>

<div class="row">
<div class="col-md-6">
<p><img src="https://www12.iclub.be/images/upload/559/attestations.png" style="height:auto; width:50%" /></p>
<a class="btn btn-info btn-block" href="#">Assurance</a></div>

<div class="col-md-6">
<p><img src="https://www12.iclub.be/images/upload/559/assurance.png" style="height:auto; width:50%" /></p>
<a class="btn btn-info btn-block" href="#">Attestations</a></div>
</div>

<div class="row">
<div class="col-md-3"><!-- VIDE --></div>

<div class="col-md-6">
<p><img src="https://www12.iclub.be/images/upload/559/conditionsgenerales.png" style="height:auto; width:50%" /></p>
<a class="btn btn-info btn-block" href="#">Conditions g&eacute;n&eacute;rales stages</a></div>
</div>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
