---
layout: index
title: Activités artistiques et loisirs
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /activites/extrascolaire/activites_artistiques_et_loisirs/
menu: activites
keywords: 
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

{% include pages/activites_enfants/extrascolaire/activitesartistiques.html %}

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
