<div class="col-md-12 text-center" style="font-size: 24px; margin-bottom: 20px;"><strong>Trouvez une activité pour votre enfant pendant l'année scolaire</strong></div>
<div class="col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=6" class="btn btn-block btn-info-filled">Inscription</a>
</div>
<div class="row">
	{% for stage in site.data.extrascolaire.activites %}
  {% if stage.online and stage.categorie contains 'decouvertes' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>