---
layout: index
title: Garderie
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /stages/garderie/
menu: stages
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<p><br />
Une garderie est organis&eacute;e d&egrave;s <strong>07h30</strong> dans le <u>Brabant Wallon</u> - d&egrave;s <strong>8h00</strong> &agrave; <u>Li&egrave;ge et Bruxelles</u>, et le soir jusque <strong>18h00.</strong></p>

<p>Le forfait de garderie est de :</p>

<ul>
	<li>Brabant Wallon :
	<ul>
		<li>12&euro;/semaine pour 1 enfant - 18&euro;/semaine pour 2 enfants et 25&euro;/semaine pour 3 enfants ou plus</li>
		<li>A la carte : 1&euro; par demie-heure entam&eacute;e et par enfant</li>
		<li>Gratuit&eacute; de 8h30 &agrave; 9h00 et de 16h00 &agrave; 16h30<br />
		&nbsp;</li>
	</ul>
	</li>
	<li>Bruxelles et Li&egrave;ge :&nbsp;
	<ul>
		<li>10&euro;/semaine pour 1 enfant - 15&euro;/semaine pour 2 enfants et 20&euro;/semaine pour 3 enfants ou plus</li>
		<li>A la carte : 1,5&euro; par heure entam&eacute;e et par enfant</li>
		<li>Gratuit&eacute; de 8h45 &agrave; 9h00 et de 16h00 &agrave; 16h15</li>
	</ul>
	</li>
</ul>

<p><br />
Le paiement de la garderie se fait sur place en <strong>liquide</strong> le premier jour de stage.</p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
