---
layout: index
title: Réductions
img : 
img-mobile : 
css: 
banner:
index: 
permalink: /cfs/reductions/
menu: cfs
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<h3><em>Des r&eacute;ductions peuvent vous &ecirc;tre octroy&eacute;es pour les stages de vacances.</em></h3>

<p><strong>R&eacute;ductions &laquo; stages nombreux &raquo;</strong></p>

<p>Les r&eacute;ductions sont accord&eacute;es aux enfants habitant sous le m&ecirc;me toit.</p>

<p><strong>Il y a trois p&eacute;riodes de r&eacute;duction :</strong></p>

<ol>
	<li>Toussaint et No&euml;l</li>
	<li>Carnaval et P&acirc;ques</li>
	<li>Et&eacute;</li>
</ol>

<p><em>Attention, les diff&eacute;rentes p&eacute;riodes ne sont pas cumulables.</em></p>

<p><strong>Une fois la p&eacute;riode s&eacute;lectionn&eacute;e,<br />
additionnez le nombre de stages auquel vos enfants participent pendant cette p&eacute;riode :</strong><br />
&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<th>Nombre de stages</th>
			<th>Montant de la r&eacute;duction</th>
		</tr>
		<tr>
			<td>3 stages</td>
			<td>15 &euro; sur le 3&egrave;me stage</td>
		</tr>
		<tr>
			<td>4 stages</td>
			<td>20 &euro; sur le 4&egrave;me stage</td>
		</tr>
		<tr>
			<td>5 stages</td>
			<td>30 &euro; sur le 5&egrave;me stage</td>
		</tr>
		<tr>
			<td>6 stages</td>
			<td>40 &euro; sur le 6&egrave;me stage</td>
		</tr>
		<tr>
			<td>7 stages</td>
			<td>50 &euro; sur le 7&egrave;me stage</td>
		</tr>
		<tr>
			<td>8 stages</td>
			<td>+ 10 &euro; par stage suppl&eacute;mentaire</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;<br />
<strong>Exemples :</strong></p>

<p>Vous inscrivez vos enfants :</p>

<ul>
	<li>pour 2 stages en Et&eacute; :&nbsp;<em>il n&#39; y a pas de r&eacute;duction.</em></li>
	<li>pour 2 stages &agrave; la Toussaint et 2 stages &agrave; No&euml;l :&nbsp;<em>vous avez droit &agrave; 20 &euro; de r&eacute;duction sur le paiement total des stages de No&euml;l.</em></li>
</ul>

<p><strong>Remarques :</strong></p>

<p>Attention : lors du paiement n&#39;oubliez pas d&#39;indiquer le montant de la r&eacute;duction en communication</p>

<p><em><strong>N.B. La r&eacute;duction est calcul&eacute;e sur le &quot;DERNIER&quot; stage effectu&eacute; lors de la p&eacute;riode concern&eacute;e.</strong></em></p>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}
</div>
<!-- Content Area End -->
</div>
</div>
