---
layout: index
title: Questions fréquentes
img : 
img-mobile : 
css: 
banner:
index: 
permalink: /cfs/questions_frequentes/
menu: cfs
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<p>&nbsp;</p>

<p><strong><span style="color:#2980b9"><u><span style="font-size:16px">SECRETARIAT</span></u></span></strong></p>

<ul>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Horaire secretariat.pdf" target="_blank">Quand pouvons-nous vous contacter ?&nbsp;</a></li>
</ul>

<p><strong><span style="color:#2980b9"><u><span style="font-size:16px">MyCFS</span></u></span></strong></p>

<ul>
	<li><a href="https://www12.iclub.be/doc/559/Application - MyCFS.pdf">Je t&eacute;l&eacute;charge l&#39;application MyCFS sur mon smartphone</a><a href="https://www12.iclub.be/doc/559/Application - MyCFS.pdf" target="_blank">&nbsp;</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Creer son compte MyCFS.pdf" target="_blank">Je n&#39;ai pas encore de compte personnel MyCFS, comment faire ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Mon compte MyCFS - Connexion.pdf" target="_blank">Comment me connecter &agrave; MyCFS ?&nbsp;</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Recuperation de mot de passe.pdf" target="_blank">J&#39;ai oubli&eacute; mon mot de passe, que dois-je faire ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Login et mot de passe.pdf" target="_blank">La diff&eacute;rence entre &quot;login&quot; et &quot;mot de passe&quot; ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Attestation.pdf" target="_blank">Comment t&eacute;l&eacute;charger mes attestations de fr&eacute;quentation ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - AttestationsOne et Frequentation.pdf" target="_blank">La diff&eacute;rence entre &quot;attestations de fr&eacute;quentation&quot; et &quot;attestations fiscale ONE&quot; ?&nbsp;</a></li>
</ul>

<p><strong><span style="color:#2980b9"><span style="font-size:16px"><u>ECOLE DE NATATION</u></span></span></strong></p>

<ul>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Ecole de natation inscription.pdf" target="_blank">Je souhaite inscrire mon enfant, comment faire ?&nbsp;</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Carte de 10 seances inscription.pdf" target="_blank">Comment utiliser ma carte de 10 s&eacute;ances&nbsp;? <span style="font-size:12px"><em>(uniquement pour les <strong>b&eacute;b&eacute;s nageurs</strong> &agrave; Bierges)</em></span></a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Mes recuperations natation.pdf" target="_blank">Ai-je droit &agrave; des r&eacute;cup&eacute;rations ? Et comment les r&eacute;cup&eacute;rer&nbsp;?&nbsp;</a></li>
</ul>

<p><strong><span style="color:#2980b9"><span style="font-size:16px"><u>ACTIVITES &amp; STAGES</u></span></span></strong></p>

<ul>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Inscription activites para ou extra.pdf" target="_blank">Comment inscrire mon enfant &agrave; une activit&eacute; parascolaire (dans mon &eacute;cole) ou extrascolaire (pour tous) ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Inscription stages - vacances scolaires.pdf" target="_blank">Comment inscrire mon enfant &agrave; un stage &agrave; la <strong>journ&eacute;e</strong> ou &agrave; la <strong>semaine</strong> ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Age requis pour un stage.pdf" target="_blank">Mon enfant a presque l&#39;&acirc;ge requis pour un stage, puis-je l&#39;inscrire ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Jours feries.pdf" target="_blank">L&#39;activit&eacute; de mon enfant est-il maintenu un jour f&eacute;ri&eacute; ?&nbsp;</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Activites durant les vac scol.pdf" target="_blank">Les activit&eacute;s sont-ils maintenus durant les&nbsp;vacances scolaires ?&nbsp;</a></li>
</ul>

<p><strong><span style="color:#2980b9"><span style="font-size:16px"><u>COURS ADULTES</u></span></span></strong></p>

<ul>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Annuler ma seance.pdf" target="_blank">Je suis absent(e) &agrave; mon cours, comment indiquer mon absence &agrave; un cours ?</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Mes tickets de recuperation.pdf" target="_blank">Combien de tickets de r&eacute;cup&eacute;ration me restent-t-ils ?&nbsp;</a></li>
	<li><a href="https://www12.iclub.be/doc/559/CFS - Questions frequentes - Reserver ma seance.pdf" target="_blank">Je souhaite r&eacute;server une s&eacute;ance de r&eacute;cup&eacute;ration</a></li>
</ul>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}
</div>
<!-- Content Area End -->
</div>
</div>
