---
layout: index
title: Le CFS
img : 
img-mobile : 
group : navigation
css: 
banner:
index: 
permalink: /centre_de_formation_sportive/
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

<section class="blog">
    <div class="container">
      <div class="row">

        <!-- sidebar area -->
        <div class="col-sm-12 col-md-3">

          <div class="blog-block categories-sidebar-widget">
            <h4>Menu</h4>

            {% for item in site.data.menus.le_cfs.docs %}
            <div class="post-category">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            {% endfor %}

          </div>
        </div>

        <!-- content area -->

        <div class="col-sm-12 col-md-9">

        </div>

      </div>
    </div>
  </section>

</div>
<!-- Content Area End -->
</div>
</div>