---
layout: index
title: Events
img : 
img-mobile : 
group : navigation
css: 
banner: 
index: 
permalink: /events/
menu: events
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_events.html %}
{% endif %}

<div class="team-members-tow mtb-50">
    <div class="row" style="text-align: center !important;">

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/anniversaires.png" title="Anniversaires" href="/anniversaires" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/evg.png" title="EVG" href="/events/evg" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/tournois.png" title="Tournois" href="/events/tournois" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeesdupersonnel.png" title="Journées du personnel" href="/events/journees_du_personnel" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeessportives.png" title="Journées sportives" href="/events/journees_sportives" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeespedagogiques.png" title="Journées pédagogiques" href="/events/journees_pedagogiques" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/fancyfair.png" title="Fancy Fair" href="/events/fancy_fair" inscription="non" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/locationmateriel.png" title="Location de matériel" href="/events/location_de_materiel" inscription="non" %}
      </div>

    </div>
  </div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>