---
layout: index
title: EVG
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /events/evg/
menu: events
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">
{% if page.menu %}

<section class="blog">
    <div class="container">
      <div class="row">

        <!-- sidebar area -->
        <div class="col-sm-12 col-md-3">

          <div class="blog-block categories-sidebar-widget">
            <h4>Menu</h4>

            {% for item in site.data.menus.events.docs %}
            <div class="post-category">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
            {% endfor %}

          </div>
        </div>

        <!-- content area -->

        <div class="col-sm-12 col-md-9">
{% endif %}
<div class="team-members-tow mtb-50">
    <div class="row" style="text-align: center !important;">
      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162007774658620/eventanniversaires.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Anniversaires</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>
      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162038095282176/evganniversaires.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>EVG</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162036295663637/eventtournois.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Tournois</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162015089393695/eventjourneedupersonnel.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Journées du personnel</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162017555513364/eventjourneesportives.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Journées sportives</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162017396260875/eventjourneepedago.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Journées pédagogiques</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162011495006232/eventfancyfair.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Fancy fair</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Team Item Starts -->
        <figure>
          <img src="https://media.discordapp.net/attachments/656057943346642945/656162018771992616/eventlocationmateriel.png" alt="" style="border-radius: 50%; width:75%;">
          <div class="image-overlay bulle3">
            <div class="overlay-text">
              <div class="info-text">
                <strong>Location matériel</strong>
                <span></span>
              </div>
              <hr class="small-divider border-white">
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </figure>
        <!-- Team Item Ends -->
      </div>

    </div>
  </div>
{% if page.menu %}
        </div>

      </div>
    </div>
  </section>
{% endif %}
</div>
<!-- Content Area End -->
</div>
</div>
