<h4>Vous rêvez de recevoir votre brochure de stage à domicile ? Au CFS, c'est possible !</h4>

<p>Complétez le formulaire qui suit, et nous vous enverrons notre brochure au plus vite.</p>
<hr>
<div class="row">
  <div class="col-md-12">
    <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSefZVO2RktFWR83v_AOvq_eoJL6Jb8FFUxvI3us6e6B_HRRJg/formResponse">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-user"></i>
            <input type="text" class="form-control" id="name" placeholder="Nom complet" name="entry.1223779489" required data-error="Merci d'écrire votre nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <i class="contact-icon fa fa-envelope-o"></i>
            <input type="email" class="form-control" id="email" placeholder="Email" name="entry.2039077707">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <textarea id="adresse" rows="8" placeholder="Adresse complète" name="entry.62988463" style="width: 100%;"></textarea>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <textarea id="brochure" rows="8" placeholder="Brochures demandées" name="entry.238382308" style="width: 100%;"></textarea>
          </div>
          <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Recevoir ma brochure</button>
          <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </div>
      </div>

    </form>
  </div>
	
</div>