<div class="row">
<div class="col-md-1">&nbsp;</div>

<div class="col-md-10"><iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://online.flowpaper.com/79c7072c/bxlbrochureextrascolaire1920site/" width="100%"></iframe></div>

<div class="col-md-1">&nbsp;</div>
</div>

<div class="row">
<div class="col-md-1">&nbsp;</div>

<div class="col-md-10"><iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://online.flowpaper.com/79c7072c/brtbrochureextrascolaire1920site/" width="100%"></iframe></div>

<div class="col-md-1">&nbsp;</div>
</div>