<div class="row">
	<div class="sub-title">
		<span>Bruxelles 2019-2020</span>
	</div>
	<div class="col-md-12">
		<iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://online.flowpaper.com/79c7072c/bxlbrochureextrascolaire1920site/" width="100%"></iframe>
	</div>
</div>

<div class="row">
	<div class="sub-title">
		<span>Brabant 2019-2020</span>
	</div>
	<div class="col-md-12">
		<iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://online.flowpaper.com/79c7072c/brtbrochureextrascolaire1920site/" width="100%"></iframe>
	</div>
</div>