<div class="row">
	<div class="col-md-12">
		Consultez la version électronique de nos brochures. Si vous le souhaitez, vous pouvez aussi <strong>recevoir nos brochures</strong> à votre domicile. 
	</div>
</div>

<div class="row">
<div class="col-md-1">&nbsp;</div>

<div class="col-md-10"><iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://test-online.flowpaper.com/7604073b-trial/JETTEBrochureparascolaire1920/#PreviewMode=Miniature" width="100%"></iframe></div>

<div class="col-md-1">&nbsp;</div>
</div>
