<div class="row">
<div class="col-md-1"></div>
<div class="sub-title">
	<span>Bruxelles 2020</span>
</div>
<div class="col-md-10"><iframe frameborder="0" height="600" src="https://online.flowpaper.com/79c7072c/DepliantCPBxl/#PreviewMode=Miniature" scrolling="no" marginwidth="0" marginheight="0" allowFullScreen width="100%"></iframe></div>
<div class="col-md-1"></div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="sub-title">
	<span>Brabant 2020</span>
</div>
<div class="col-md-10"><iframe frameborder="0" height="600" src="https://online.flowpaper.com/79c7072c/DepliantCPBrt/#PreviewMode=Miniature" scrolling="no" marginwidth="0" marginheight="0" allowFullScreen width="100%"></iframe></div>
<div class="col-md-1"></div>
</div>