
<p>Tu veux passer un moment inoubliable pour ton EVG/EVJF, le CFS peut t’organiser une activité fun telle que:</p>

<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Laser game
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Bubble soccer
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Arrow Game
	  </li>
	</ul>
</div>

<p>Plus d’informations: event@lecfs.be ou 02 420 53 02 / 010 22 73 96</p>