
<p>Lors de votre journée Fancy Fair, le CFS vous propose de venir, avec un moniteur, afin d’apporter un plus à votre journée et offrir aux enfants, diverses activités ludiques, fun et sportives.</p>

<p>Nous vous proposons un tarif unique par animation avec un moniteur.</p>

<hr>
<p>150€</p>
<div class="row">
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Parcours Vélo
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Apprenti-Tennis
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Kin-Ball
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Speedminton
	  </li>
	</ul>
</div>
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Frisbee Golf / Snag Golf
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Ball-bouncer
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Cirque
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Quidditch (Harry Potter)
	  </li>
	</ul>
</div>
</div>
<hr>

<p>250€</p>
<div class="row">
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Escalade découverte
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Laser Game
	  </li>
	</ul>
</div>
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Bubble soccer
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Châteaux gonflables
	  </li>
	</ul>
</div>
</div>
<hr>

<p>500€</p>
<div class="row">
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Quads électriques
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Skateboard / Trotinette / BMX
	  </li>
	</ul>
</div>
<div class="col-md-6">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Magie
	  </li>
	</ul>
</div>
</div>
<hr>

<p>Nous pouvons également vous aider pour divers évènements sur mesure : journée du personnel, surveillance d’une classe, animation parascolaire, etc.</p>