
Lors de votre journée Fancy Fair, le CFS vous propose de venir, avec un moniteur, afin d’apporter

un plus à votre journée et offrir aux enfants, diverses activités ludiques, fun et sportives.

Nous vous proposons un tarif unique par animation avec un moniteur.

 

150€

Parcours Vélo

Apprenti-Tennis

Kin-Ball

Speedminton

Frisbee Golf / Snag Golf

Ball-bouncer

Cirque

Quidditch (Harry Potter)

 

250€

Escalade découverte

Laser Game

Arrow Game

Bubble Soccer

Châteaux Gonflable

 

500€

Quad Electrique

Skateboard / Trottinette / BMX

Magie

 

Nous pouvons également vous aider pour divers évènements sur mesure : journée du personnel, surveillance d’une classe, animation parascolaire, etc.