Nous organisons pour vous une série d’évènements en mettant à votre disposition son matériel, ses moniteurs, et son savoir-faire.

<div class="team-members-tow mtb-50">
    <div class="row" style="text-align: center !important;">

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/anniversaires.png" titre="Anniversaires" href="/anniversaires" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/evg.png" titre="EVG" href="/events/evg" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeessportives.png" titre="Journées sportives" href="/events/journees_sportives" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeespedagogiques.png" titre="Journées pédagogiques" href="/events/journees_pedagogiques" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/fancyfair.png" titre="Fancy Fair" href="/events/fancy_fair" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/locationmateriel.png" titre="Location de matériel" href="/events/location_de_materiel" bouton="Plus d'info" %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include coleen/bulle.html src="/assets/images/event/journeesdupersonnel.png" titre="Journées du personnel" href="/events/journees_du_personnel" bouton="Plus d'info" %}
      </div>

    </div>
  </div>