<p>Le CFS prend en charge les élèves toute la journée, dans leur école.</p>

<p>Notre équipe s’occupe de toute l’animation et de l’administratif (assurance comprise).</p>

<p>Toute l’année scolaire, du lundi au vendredi.</p>

<p>Sur mesure en fonction de vos horaires (voir programme à la carte).</p>

<p>Le CFS peut prendre en charge les garderies de l’école (2€/enfant).</p>

<p>Formule à la journée à partir de 11€/enfant</p>

<p>Formule à la 1/2 journée à partir de 6.5€/enfant</p>

<p>Le prix peut varier selon le choix des activités.</p>

<p>RENSEIGNEMENTS - DEMANDE DE DEVIS</p>

<p>010 22 73 96</p>

<p>event@lecfs.be</p>

<p>Veuillez préciser le nom de l’école, la date souhaitée et le nombre d’élèves par année concernés. Nous conviendrons d’un rendez-vous dans les plus brefs délais afin de vous faire une offre sur mesure.</p>