<div class="col-md-12">
<div class="sub-title">
<span>Service aux entreprises</span>
</div>

<p>Vous êtes à la recherche d’un partenaire de confiance pour l’organisation de vos événements ou le développement  personnel de vos collaborateurs?</p>

<p><strong>CFS Envergure</strong> jouit d’une expérience de 28 ans dans l’organisation d’événements, qu’ils soient de grande envergure ou plus intimes.
Une équipe dynamique qui connaît le terrain, prête à mettre en avant  ses capacités, sa créativité et son perfectionnisme au service de votre communication et de votre image.</p>
<p><strong>CFS Envergure</strong> vous propose un grand catalogue d’événements  très exclusifs. Que vous soyez à la recherche de coaching individuel ou de groupe, de manifestations sportives, d’événements culturels, de spectacles ou concerts, <strong>CFS Envergure</strong> dispose toujours de l’événement idéal pour votre entreprise que ce soit en Belgique ou à l’étranger.</p>

<p class="text-center"><strong>L’important pour nous, c’est vous.</strong></p>

<p>Nous intervenons dans 4 secteurs distincts:</p>

<div class="col-md-12">
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Team building
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Evénements personnalisés et incentive
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Services pour le personnel
	  </li>
	</ul>
	<ul class="list-style arrow-list arrow-list-three pl-0">
	  <li>
	    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Bien-être du personnel pour le rendre plus performant
	  </li>
	</ul>
</div>