
TEXTE :

Le CFS prend en charge les élèves toute la journée dans un centre sportif proche.

Notre équipe s’occupe de toute l’animation et de l’administratif (assurance comprise).

  Toute l’année scolaire du lundi au vendredi.
  
  Sur mesure en fonction de vos horaires (voir programme à la carte).

      Remise d’un diplôme en fin de journée.

  Formule à la journée à partir de 11€/enfant

  Formule à la 1/2 journée à partir de 6.5€/enfant

Le prix peut varier selon le choix des activités.

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>