<div class="row">
	<div class="sub-title">
		<span>Brabant 2019-2020</span>
	</div>
</div>

<p>Le CFS prend en charge les élèves toute la journée, dans un centre sportif proche.

Notre équipe s’occupe de toute l’animation et de l’administratif (assurance comprise).

Toute l’année scolaire, du lundi au vendredi.
  
Sur mesure en fonction de vos horaires (voir programme à la carte).

Formule à la journée à partir de 11€/enfant.

Formule à la 1/2 journée à partir de 6.5€/enfant.

Le prix peut varier selon le choix des activités.</p>
<div class="row">
	<div class="sub-title">
		<span>Bruxelles 2019-2020</span>
	</div>
</div>

<div class="row">
<div class="offset-md-4 col-md-4" style="float: right; margin-bottom: 20px;">
	<a href="https://www12.iclub.be/myiclub3_CFS_register.asp?ClubID=559&Categorie=16" class="btn btn-block btn-info-filled" target="_blank">Je m'inscris</a>
</div>
</div>
<h3>Journée sportive pour les écoles au centre sportif Mounier</h3>
<div class="row">
<div class="col-md-12">
	<iframe allowfullscreen="" frameborder="0" height="600" marginheight="0" marginwidth="0" onload="resizeIframe(this)" scrolling="no" src="https://online.flowpaper.com/79c7072c/BXL20192020Journessemainessportives/" width="100%"></iframe>
</div>
</div>