Journées du personnel

SERVICE AUX ENTREPRISES

Vous êtes à la recherche d’un partenaire de confiance pour l’organisation de vos événements ou le développement  personnel de vos collaborateurs?
CFS  ENVERGURE  jouit d’une expérience de 28 ans dans l’organisation d’événements, qu’ils soient de grande envergure ou plus intimes.
Une équipe dynamique qui connaît le terrain, prête à mettre en avant  ses capacités, sa créativité et son perfectionnisme au service de votre communication et de votre image.
CFS ENVERGURE vous propose un grand catalogue d’événements  très exclusifs. Que vous soyez à la recherche de coaching individuel ou de groupe, de manifestations sportives, d’événements culturels, de spectacles ou concerts, CFS ENVERGUYRE dispose toujours de l’événement idéal pour votre entreprise que ce soit en Belgique ou à l’étranger.

L’important pour nous, c’est vous

Nous intervenons dans 4 secteurs distincts

Team building, 
Améliorer la communication et le travail d’équipe
Evénements personnalisés et incentive
Fête du personnel / Anniversaire de votre entreprise  - Fête de St Nicolas -Journée sportive - Animations pour les enfants -  After Work 
Service pour le personnel
Accueil des enfants et proposition de stages
Bien être du personnel   rendre plus performant
Un collaborateur qui est bien dans son corps et dans sa tête sera beaucoup plus performant  Nous pouvons l’y aider
•	Coatching individuel ou collectif
•	Massages assis
•	Hypnose
•	Ateliers créatifs