<div class="sub-title">
<span>Nos châteaux gonflables</span>
</div>
<div class="row">
	<div class="col-md-6">
<h4>Petit château bleu</h4>
<ul class="list-style arrow-list arrow-list-four pl-0">
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Taille : 4,5 m x 4,5m
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Nombre d’enfants max : 10
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Prix / jour : 110€ (-50% sur la 2ème journée)
  </li>
</ul>
</div>
<div class="col-md-6">
<h4>Mur d’escalade</h4>
<ul class="list-style arrow-list arrow-list-four pl-0">
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Taille : 7m (d) x 5m (h)
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Nombre d’enfants max : 4
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Prix / jour : 200€ (-50% sur la 2ème journée)
  </li>
</ul>
</div>
<div class="col-md-6">
<h4>Parcours d’obstacles</h4>
<ul class="list-style arrow-list arrow-list-four pl-0">
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Taille : 14m (L) x 4m (l) x 4,5m (h)
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Nombre d’enfants max : circuit continu 
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Prix / jour : 350€ (-50% sur la 2ème journée)
  </li>
</ul>
</div>
<div class="col-md-6">
<h4>Bateau pirate</h4>
<ul class="list-style arrow-list arrow-list-four pl-0">
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Taille : 6m (L) x 7m (l) x 6m (h)
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Nombre d’enfants max : 20 
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Prix / jour : 350€ (-50% sur la 2ème journée)
  </li>
</ul>
</div>
<div class="col-md-6">
<h4>Train</h4>
<ul class="list-style arrow-list arrow-list-four pl-0">
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Taille : 28m (L) x 4m (l)
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Nombre d’enfants max : circuit continu 
  </li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i> Prix / jour : 450€ (-50% sur la 2ème journée)
  </li>
</ul>
</div>
</div>
<hr>
<h4>Pour tous nos châteaux</h4>
<ul class="list-style arrow-list arrow-list-three pl-0">
  <li>
    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Frais de déplacement à partir de 15 km à vol d’oiseau
  </li>
  <li>
    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> On place le château pour eux et on fournit les gonfleurs
  </li>
  <li>
    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Pas de moniteur qui reste sur place 
  </li>
  <li>
    <i class="fa fa-arrow-right grey" aria-hidden="true"></i> Prise électrique classique
  </li>
</ul>

<div class="sub-title">
<span>Nos locations de laser, Bubble et Arrow</span>
</div>

<p>Nous ne pouvons malheureusement pas vous donner un prix exacte à l’avance car tout dépend du nombre de Laser, Bubble ou Arrow que vous prenez, du lieu et si des moniteurs doivent être sur place.</p>
<p>Envoyer votre demande de devis à l’adresse mail suivante : event@lecfs.be</p>
