Location de matériel.

Nos châteaux gonflables
• Petit château bleu
Taille : 4,5 m x 4,5m 
Nombre d’enfants max : 10 
Prix / jour : 110€ (-50% sur la 2ème journée)

• Arbre d’escalade
Taille : 7m (d) x 5m (h) 
Nombre d’enfants max : 4 
Prix / jour : 200€ (-50% sur la 2ème journée)

• Parcours d’obstacles
Taille : 14m (L) x 4m (l) x 4,5m (h) 
Nombre d’enfants max : circuit continu 
Prix / jour : 350€ (-50% sur la 2ème journée)

• Bateau pirate
Taille : 6m (L) x 7m (l) x 6m (h) 
Nombre d’enfants max : 20 
Prix / jour : 350€ (-50% sur la 2ème journée)

• Train
Taille : 28m (L) x 4m (l) 
Nombre d’enfants max : circuit continu 
Prix / jour : 450€ (-50% sur la 2ème journée)

1. Frais de déplacement à partir de 15 km à vol d’oiseau 
2. On place le château pour eux et on fournit les gonfleurs 
3. Pas de moniteur qui reste sur place 
4. Prise électrique classique

Nos locations de laser, Bubble et Arrow 
Nous ne pouvons malheureusement pas vous donner un prix exacte à l’avance car tout dépend du nombre de Laser, Bubble ou Arrow que vous prenez, du lieu et si des moniteurs doivent être sur place.
Envoyer votre demande de devis à l’adresse mail suivante : event@lecfs.be
