<p>Parce que pendant les vacances, ce sont surtout des activités différentes, funs et amusantes que les enfants recherchent, nous vous proposons divers stages qui promettent bien plus que du sport! Ici on parle de Challenge, de Team spirit, d’Aventure, d’Evasion, de Sensations...</p>

<p>Des programmes différents et variés tout au long de la semaine pour défouler vos enfants !</p>

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains 'fun' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>