
<div class="OutlineElement Ltr SCXO54309733 BCX0" style="box-sizing: inherit; font-family: &quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, Arial, Verdana, sans-serif; font-size: 14px; margin: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow: visible; cursor: text; clear: both; position: relative; direction: ltr; text-align: center;">
<p class="Paragraph SCXO54309733 BCX0" style="box-sizing: inherit; margin: 0px; font-family: Rubik, sans-serif; line-height: 25px; color: windowtext; letter-spacing: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow-wrap: break-word; vertical-align: baseline; background-color: transparent;" lang="FR-BE" xml:lang="FR-BE">Parce que pendant les vacances, ce sont surtout des activit&eacute;s diff&eacute;rentes, funs et amusantes que les
enfants recherchent, nous vous proposons divers stages qui promettent bien plus que du sport!
Ici on parle de Challenge, de Team spirit, d&rsquo;Aventure, d&rsquo;Evasion, de Sensations...&nbsp;<span style="background-color: transparent; color: windowtext; letter-spacing: 0px;">Des programmes diff&eacute;rents et vari&eacute;s tout au long de la semaine pour d&eacute;fouler vos enfants !</span></p>
<p class="Paragraph SCXO54309733 BCX0" style="box-sizing: inherit; margin: 0px; font-family: Rubik, sans-serif; line-height: 25px; color: windowtext; letter-spacing: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow-wrap: break-word; vertical-align: baseline; background-color: transparent;" lang="FR-BE" xml:lang="FR-BE">&nbsp;</p>
<p class="Paragraph SCXO54309733 BCX0" style="box-sizing: inherit; margin: 0px; font-family: Rubik, sans-serif; line-height: 25px; color: windowtext; letter-spacing: 0px; padding: 0px; user-select: text; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; overflow-wrap: break-word; vertical-align: baseline; background-color: transparent;" lang="FR-BE" xml:lang="FR-BE">&nbsp;</p>
</div>

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains 'fun' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
