<p>Nos stages artistiques et ludiques peuvent susciter l’envie à vos enfants de s’investir et de prendre du plaisir dans une activité autre que sportive. Ils ont l’occasion de développer leurs talents artistiques dans une ambiance amusante et divertissante.</p>

<p>Spectacles/expositions/dégustations de fin de semaine à ne pas manquer.</p>

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains 'artistiques' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>