<p>Les stages pour les petits tendent au développement harmonieux des enfants au travers d’activités adaptées à leur âge.</p>

<p>L’enfant développe de nouvelles aptitudes tout en jouant: il apprend les règles du jeu et la vie en groupe, développe sa sociabilité et explore les différentes facettes de la motricité.</p>

<p>Le rythme de l’enfant est respecté et une sieste est prévue pour ceux qui en ont besoin. Pour chaque stage, il y a une base commune de psychomotricité (jeux de coopération, parcours d’adresse, d’audace, exercices de latéralité) et bien sûr, un apprentissage spécifique en fonction du thème proposé.</p>

<p>Il est demandé aux parents de prévoir un sac avec une tenue de rechange pour leur enfant. Pour les stages commençant à 3 ans (PSYCHO): les enfants doivent être propres.</p>

<p>Si votre enfant n’est pas encore propre, il faut inscrire votre petit-bout en pré-psycho.</p>

<div class="row">
	{% for stage in site.data.stages.stages %}
  {% if stage.online and stage.categorie contains 'bouts' %}

{% include coleen/liste_cartes.html %}

  {% endif %}
	{% endfor %}
</div>