---
layout: index
titre: Activités Enfants
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /activites/
menu: activites
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="row">

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/extrascolaires.png" titre="Activités extrascolaires" href="/activites/extrascolaire" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation.png" titre="École de natation" href="/activites/ecole_de_natation" bouton="Plus d'info"%}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy.png" titre="CFS<br/>Academy" href="/activites/cfs_academy" bouton="Plus d'info" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/parascolaires.png" titre="Activités parascolaires" href="/activites/parascolaire" bouton="Plus d'info" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>