---
layout: index
title: Activités Enfants
img : 
img-mobile : 
group : navigation
css: 
banner: 
index: 
permalink: /activites/
menu: activites
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<!-- Selection CFS 4 colonnes -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="row">

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/extrascolaires.png" title="Activités extrascolaires" href="#" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/ecoledenatation.png" title="École de natation" href="#" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/cfsacademy.png" title="CFS Academy" href="#" %}
                </div>

                <div class="col-sm-6 col-md-3">
                  {% include coleen/bulle.html src="/assets/images/boutonsactivites/parascolaires.png" title="Activités parascolaires" href="#" %}
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->

{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>