---
layout: index
title: Ecole de natation
img : 
img-mobile : 
css: 
banner: 
index: 
permalink: /activites/ecole_de_natation/
menu: activites
---
{% include JB/setup %}
<div class="row">
<div class="col-md-10 offset-md-1">
<!-- Content Area Start -->
<div id="content">

{% if page.menu %}
{% include menus/menu_left_{{ page.menu }}.html %}
{% endif %}

<div class="row">
<div class="col-md-12"><a class="btn btn-primary btn-block" href="#" style="margin-bottom: 15px;">Brabant</a>
<div class="row">
<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656079570755256321/natbebesnageurs.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>

<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656081833275949056/sitecoursparticuliers.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>

<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656081014560391188/coursdetransition.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>

<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656079603516964865/natminiclub.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>
</div>
</div>
</div>

<hr />
<div class="row">
<div class="col-md-12"><a class="btn btn-primary btn-block" href="#" style="margin-bottom: 15px;">Bruxelles</a>

<div class="row">
<div class="col-md-3">&nbsp;</div>

<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656081095422377984/sitepsychoaqua.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>

<div class="col-md-3" style="text-align:center"><a href="#"><img class="img-circle" src="https://media.discordapp.net/attachments/656057943346642945/656079832471306250/courscollectifs.png?width=300&amp;height=300" style="height:auto; width:90%" /></a></div>

<div class="col-md-3">&nbsp;</div>
</div>
</div>
</div>


{% if page.menu %}
{% include menus/menu_left_end.html %}
{% endif %}

</div>
<!-- Content Area End -->
</div>
</div>
